
<br>
<h2 class="text-center mb-4">AVISO DE SAÍDA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Saida enviado em: {{avisoSaidas.saidaDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despacho.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="saidaNprocesso" class="form-control" type="text" value="{{avisoSaidas.saidaNprocesso}}" disabled>
                </div>
                <div>
                    <h4 class="text-center">Dados da Partida</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Saída</label>
                        <input name="saidaPortoSaida" class="form-control" type="text" value="{{portoSaida.portoNome}}" disabled>
                        <label class="input-group-text">Data/Hora de Saída</label>
                        <input name="saidaDataHoraSaida" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraSaida}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input name="saidaPortoDestino" class="form-control" type="text" value="{{portoDestino.portoNome}}" disabled>
                        <label class="input-group-text">Data/Hora Estimada de Chegada</label>
                        <input name="saidaDataHoraChegada" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraChegada}}" disabled>
                    </div>
                    <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome da Embarcação</label>
                            <input name="saidaNomeEmbarcacao" class="form-control" type="text" value="{{embarcacoes.embarcacaoNome}}" disabled>
                            <label class="input-group-text">Tipo da Embarcação</label>
                            <input name="saidaTipoEmbarcacao" class="form-control" type="text" value="{{embarcacoes.embarcacaoTipo}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Bandeira</label>
                            <input name="saidaBandeira" class="form-control" type="text" value="{{embarcacoes.embarcacaoBandeira}}" disabled>
                            <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input name="saidaNInscricaoAutoridadeMaritima" class="form-control" type="text" value="{{embarcacoes.embarcacaoNInscricaoautoridadeMB}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Arqueação Buta</label>
                            <input name="saidaArqueacaoBruta" class="form-control" type="text" value="{{embarcacoes.embarcacaoArqueacaoBruta}}" disabled>
                            <label class="input-group-text">Tonelagem Porte Bruto</label>
                            <input name="saidaTonelagemPorteBruto" class="form-control" type="text" value="{{embarcacoes.embarcacaoTonelagemPorteBruto}}" disabled>
                        </div>
                </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="saidaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaNomeRepresentanteEmbarcacao}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="saidaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaCPFCNPJRepresentanteEmbarcacao}}" disabled>
                        <label class="input-group-text">Telefone</label>
                        <input name="saidaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaTelefoneRepresentanteEmbarcacao}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="saidaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEnderecoRepresentanteEmbarcacao}}" disabled>
                        <label class="input-group-text">Email</label>
                        <input name="saidaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEmailRepresentanteEmbarcacao}}" disabled>
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="saidaObservacoes" class="form-control" type="text" value="{{avisoSaidas.saidaObservacoes}}" disabled>
                    </div>
                </div>
                <h4 class="text-center">Lista de Tripulantes</h4>
                {{#each tripulantes}}
                    <div>
                        <div id="tripulantes" class="card bg-secondary mt-4">
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <div class="input-group">
                                <label class="input-group-text">Nome do Tripulante</label>
                                <input class="form-control" type="text" value="{{tripulanteNome}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Função</label>
                                <input name='tripulanteFuncao' class="form-control" type="text" value="{{funcao}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Grau</label>
                                <input class="form-control" type="text" value="{{tripulanteGrau}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Número da CIR</label>
                                <input class="form-control" type="text" value="{{tripulanteNCIR}}" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                {{/each}}
                <br>
                <div>
                        <h4 class="text-center">Lista de Passageiros</h4>
                        {{#each avisoSaidas.saidaPassageiros}}
                                <div id="passageiros" class="card bg-secondary mt-4">
                                    <span>Passageiro: {{add @index 1}}</span>
                                        <div class="input-group">
                                            <label class="input-group-text">Nome</label>
                                                <input value="{{nome}}" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Data de Nascimento</label>
                                                <input value="{{dataNascimento}}" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Sexo</label>
                                                <input value="{{sexo}}" class="form-control" type="text" disabled>
                                        </div>
                                </div>
                            <br>
                        {{/each}}
                    </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Somatório de Passageiros</label>
                    <input value="{{avisoSaidas.saidaSomaPassageiros}}" class="form-control" type="number" disabled>
                </div>
                <div>
                    <h4 class="text-center">Comboios</h4>
                </div>
                    <h6 class="text-center">{{comboios.comboioNome}}</h6>
                {{#each comboios.embarcacoes}}
                <div class="bg-secondary">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
                {{/each}}
                <br>

        </form>
    </div>
</div>
<br>

<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoSaida/{{avisoSaidas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>