<br>
<h2 class="text-center mb-4">AVISO DE SAÍDA – NAVEGAÇÃO INTERIOR</h2>
<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="avisoSaida" method="POST">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Despacho referente</label>
                        <select name="saidaDespacho" class="form-select">
                            {{#each despachos}}
                                <option value="{{_id}}">
                            {{NprocessoDespacho}}
                                </option>
                            {{/each}}
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="saidaNprocesso" class="form-control" type="text" placeholder="Este campo será preenchido após verificação do despachante." disabled>
                </div>
                <div>
                    <h4 class="text-center">Dados da Partida</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Saída</label>
                        <select id="select1" name="saidaPortoSaida" class="form-select" onchange="outroPorto('campo1', 'select1')">
                            {{#each portos}}
                            <option value="{{_id}}">
                                {{portoNome}}
                            </option>
                            {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <div id="campo1" hidden>
                            <label class="input-group-text">Adicione outro porto de Saída</label>
                            <input name="saidaOutroPortoSaida" class="form-control" type="text">
                        </div>
                        <label class="input-group-text">Data/Hora de Saída</label>
                        <input name="saidaDataHoraSaida" class="form-control" type="date">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <select id="select2" name="saidaPortoDestino" class="form-select" onchange="outroPorto('campo2', 'select2')">
                            {{#each portos}}
                            <option value="{{_id}}">
                                {{portoNome}}
                            </option>
                            {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <div id="campo2" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input name="saidaOutroPortoDestino" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>
                        <label class="input-group-text">Data/Hora Estimada de Chegada</label>
                        <input name="saidaDataHoraChegada" class="form-control" type="date">
                    </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="saidaNomeRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="saidaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text">
                        <label class="input-group-text">Telefone</label>
                        <input name="saidaTelefoneRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="saidaEnderecoRepresentanteEmbarcacao" class="form-control" type="text">
                        <label class="input-group-text">Email</label>
                        <input name="saidaEmailRepresentanteEmbarcacao" class="form-control" type="text">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="saidaObservacoes" class="form-control" type="text">
                    </div>
                </div>

                <div id="selecaoTripulantes">
                <div class="container">
                <div>
                    <div id="tripulantes">
                        <script>
                           var divCounter = 0
                                function addInputSelect(divName) {
                                var newdiv = document.createElement('div');
                                var divId = "div" + divCounter
                                newdiv.setAttribute('id', divId)
                                newdiv.innerHTML = '<select name="tripulante" class="btn-group"><option id="emBranco" value="emBranco">Em Branco</option>{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}}</option>{{/each}}</select><button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
                                document.getElementById(divName).appendChild(newdiv);
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = true
                                divCounter++;
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                }

                                function deleteBranco(divId){
                                    tripulantesArray = []
                                    var emBranco = document.getElementById(divId)
                                    emBranco.remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }

                                addInputSelect('lines');

                                function getId(){
                                
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = false

                                var tripulantesArray = []

                                var tripulantesIds = document.querySelectorAll("[name='tripulante']")
                                            for (var i = 0; i < tripulantesIds.length; i++) {
                                                if(tripulantesIds[i].value == 'emBranco'){
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    
                                                }
                                        tripulantesArray.push(tripulantesIds[i].value)
                                        document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                                    }
                                    if(tripulantesArray.length == 0 ){
                                        var submiteButton = document.getElementById('submitButton')
                                        submiteButton.disabled = true
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }
                                    if(tripulantesArray.find(el => el == 'emBranco')){
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }else{
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                    }
                                    console.log(tripulantesArray)
                                
                                    
                                }
                                function deleteTripulante(id){
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    tripulantesArray = []
                                    document.getElementById(id).remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }
                        </script>
                    </div>
                    <input value="" id="tripulantesArrayIds" name="saidaTripulantes" hidden>
                    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar tripulante</button>
                    
                    <button class="btn btn-success" type="button" onclick="getId()" style="float: right">Fechar Relação</button>
                    
                </div>
                </div>
            </div>
                <div>
                    <h4 class="text-center">Lista de Passageiros</h4>
                    <div id="selecaoPassageiros" class="card bg-secondary">
                        
                                            <script>
                                                var divCounter = 0
                                                    function addPassageiros(divName) {
                                                    var newdiv = document.createElement('div');
                                                    var divId = "div" + divCounter
                                                    newdiv.setAttribute('id', divId)
                                                    newdiv.innerHTML += '<button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>'
                                                    newdiv.innerHTML += '<label class="input-group-text">Nome</label>'
                                                    newdiv.innerHTML += '<input name="passageiroNome" class="form-control" type="text">'
                                                    newdiv.innerHTML += '<label class="input-group-text">Data de Nascimento</label>'
                                                    newdiv.innerHTML += '<input name="passageiroNascimento" class="form-control" type="text">'
                                                    newdiv.innerHTML += '<label class="input-group-text">Sexo</label>'
                                                    newdiv.innerHTML += '<input name="passageiroSexo" class="form-control" type="text">'
                                                    document.getElementById(divName).appendChild(newdiv);
                                                    document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    divCounter++;
                                                    document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                                    }

                                                    function deleteBranco(divId){
                                                        passageirosNome = []
                                                        var emBranco = document.getElementById(divId)
                                                        emBranco.remove()
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }

                                                    addPassageiros('lines');

                                                    function getPassageiros(){
                                                    
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = false

                                                    var passageirosNomeArray = []
                                                    
                                                    var passageirosNascimentoArray = []

                                                    var passageirosSexoArray = []


                                                    var passageirosNomes = document.querySelectorAll("[name='passageiroNome']")
                                                    var passageirosNascimentos = document.querySelectorAll("[name='passageiroNascimento']")
                                                    var passageirosSexos = document.querySelectorAll("[name='passageiroSexo']")

                                                                for (var i = 0; i < passageirosNomes.length; i++) {
                                                                    if(passageirosNomes[i].value == 'emBranco'){
                                                                        var submiteButton = document.getElementById('submitButton')
                                                                        submiteButton.disabled = true
                                                                        
                                                                    }
                                                            passageirosNomeArray.push(passageirosNomes[i].value)
                                                            passageirosNascimentoArray.push(passageirosNascimentos[i].value) 
                                                            passageirosSexoArray.push(passageirosSexos[i].value)
                                                        }
                                                            document.getElementById('passageiros').setAttribute('value', `${passageirosNomeArray}`)
                                                            document.getElementById('dataNascimentos').setAttribute('value', `${passageirosNascimentoArray}`)
                                                            document.getElementById('sexos').setAttribute('value', `${passageirosSexoArray}`)

                                                        if(passageirosNomeArray.length == 0 ){
                                                            var submiteButton = document.getElementById('submitButton')
                                                            submiteButton.disabled = true
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }
                                                        if(passageirosNomeArray.find(el => el == 'emBranco')){
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }else{
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                                        }
                                                        console.log(passageirosNascimentoArray)
                                                    
                                                        
                                                    }
                                                    function deletePassageiro(id){
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        passageirosNome = []
                                                        document.getElementById(id).remove()
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }
                                                                        
                                                </script>
                        </div>
                            <button class="btn btn-primary mb-4" type="button" onclick="addPassageiros('selecaoPassageiros')">Adicionar passageiro</button>
                            <button class="btn btn-success" type="button" onclick="getPassageiros()" style="float: right">Fechar Relação</button>
                        <input name="saidaPassageirosNome" value="" id="passageiros" hidden>
                        <input name="saidaPassageirosNascimento" value="" id="dataNascimentos" hidden>
                        <input name="saidaPassageirosSexos" value="" id="sexos" hidden>


                </div>
                    <div class="input-group mb-3">
                    <label class="input-group-text">Somatório de Passageiros</label>
                    <input name="saidaSomaPassageiros" class="form-control" type="number">
                </div>
   
                <div class="input-group">
                    <label class="input-group-text">Comboio</label>
                    <select name="saidaComboios" class="form-select">
                        {{#each comboios}}
                            <option value="{{_id}}">{{comboioNome}}</option>
                        {{else}}
                            <option value="0">Nenhum comboio formulado</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mt-4">
                    <label class="input-group-text">Estou ciente de que responderei administrativa, 
                        civil e penalmente pelos 
                        eventuais dados incorretos constantes da presente declaração</label>
                </div>
                <div>
                    <select name="embarcacao" class="form-select">
                        {{#each embarcacoes}}
                            <option value="{{_id}}">{{embarcacaoNome}}</option>
                        {{else}}
                            <option value="0">Nenhuma embarcação cadastrada</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
{{>_saveLocalForm}}