<h1>Avisos</h1>
<a href="avisos/novo"><button class="btn btn-success mt-4">Novo aviso</button></a>

{{#each avisos}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <h4>{{descricao}}</h4>
            <h4>{{eudontco}}</h4>
            <h4>{{data}}</h4>
        </div>
    </div>
{{else}}
    <div class="mt-4">
        <h3>Nenhum aviso postado</h3>
    </div>
{{/each}}