<h2>Lista de usuários</h2>
<hr>
{{#each usuarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <h5>Email: {{email}}</h5>
            <label class="mt-2">Acesso de administrador: {{eAdmin}}</label>
            <a class="btn btn-success float-end" href="/admin/usuariosVizu/{{_id}}">Visualizar</a>
        </div>
    </div>
{{else}}
    <h4>Nenhum usuário cadastrado</h4>
{{/each}}
