<h2>Lista de Formularios</h2>
<hr>
{{#each formularios}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>Nome: {{nome}}</h5>
            <h6>Email: {{email}}</h6>
            <small>Codigo: {{codigo}}</small>
            <br>
            <small>Data de Saída: {{dsaida}}</small>
            <br>
            <small>Data de Volta: {{dvolta}}</small>
            <br>
            <small>Data de Solicitação: {{data}}</small>
        </div>
    </div>
{{else}}
    <h4>Nenhum formulário cadastrado</h4>
{{/each}}
