<h4>Lista de Avisos de Saida</h4>
<br>
{{#each avisoSaidas}}

    <div id="{{_id}}" class="card mt-4">
        <div class="card-body">
            <div>
                <h6>Despacho: {{saidaNprocesso}}</h6>
            </div>
            <div class="">
                <label class="mt-2">Data: {{saidaDataPedido}}</label>
                <a class="btn btn-success float-end" href="/formulario/formulario/avisosaidavizu/{{_id}}">Visualizar</a>
            </div>
        </div>
    </div>
    <script>
            horaLocal = Date.now()
            dezHoras = 36000000
            segundos = 20000

            if(horaLocal > {{saidaData}} + dezHoras) {
                console.log('a')
                const pegar = document.getElementById('{{_id}}').setAttribute('class', 'card mt-4 bg-danger')
            }else if(horaLocal > {{saidaData}} + segundos) {
                console.log('b')
                const pegar = document.getElementById('{{_id}}').setAttribute('class', 'card mt-4 bg-warning')
            } else {
            }
</script>
{{else}}
<h6>Nenhum Aviso de Saida</h6>
{{/each}}