<br>
<h4 class="text-center">Painel Administrativo</h4>
<br>
{{#each usuariosOperador}}
    <div class="input-group">
        <label class="input-group-text">Operador</label>
        <input class="form-control" value="{{nome}}" disabled>
    </div>
{{else}}
<span>Operador: Erro interno ao mostrar operador</span>
{{/each}}
<hr>
<br>

<div class="countainer">
    <div class="card-group ">
    <div class="card m-4" id="tempo">
        <div class="card-body m-4">

        <label>Corumbá-MS {{dataHoje}}</label>
        <img style="float:right; max-width: 3rem" src="/img/sol.png">
        <br>
        <h1 id="temperatura">30C°</h1>
        <script>
            document.getElementById("temperatura").addEventListener("onload", function(){
            this.value = parseFloat(this.value).toFixed(2);
        });
</script>
        <div>
            <label>Umidade: {{tempo.data.main.humidity}}%</label>
        </div>
        <div>
            <label>Vento: {{tempo.data.wind.speed}} m/s</label>
            <label style="float: right">Rio Paraguai: {{medidaRio.data}}</label>
        </div>
        </div>
    </div>


    {{!-- <div class="card m-4" id="tempo">
        <div class="card-body m-4">

        <label>Corumbá-MS Data Hoje</label>
        <img style="float:right; max-width: 3rem" src="/img/sol.png">
        <br>
        <h1>31 C°</h1>
        <div>
            <label>Umidade: 31%</label>
            <label style="float: right">Chuva: 3.37</label>
        </div>
        <div>
            <label>Vento: 21 m/s</label>
            <label style="float: right">Rio Paraguai: 3,30 m</label>
        </div>
        </div>
    </div>
    </div>
</div> --}}
<br>


<div class="container">
    <canvas id="renderCanvas"></canvas>
</div>
<br>
<br>





<div class="container-fluid">
    <div class="row">
        <div class="row justify-content-around">
            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/avisos" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/alto-falante.svg" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Avisos</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{avisos}} Avisos Postados</label>
                </div>
            </div>

            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/listaUsers" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/user.svg" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Usuarios</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{usuarios}} Usuários cadastrados</label>
                </div>
            </div>


            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/embarcacoes" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/ship.png" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Embarcações</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{embarcacoes}} Embarcações cadastrados</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row justify-content-around">
            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/despachos" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/despacho.svg" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Despachos</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{despachos}} Despachos solicitados</label>
                </div>
            </div>


            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/entradas" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/docEntrada.svg" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Avisos Entrada</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{avisoEntradas}} Entradas solicitadas</label>
                </div>
            </div>


            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/saidas" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/docSaida.svg" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Avisos Saída</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{avisoSaidas}} Saídas solicitadas</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row justify-content-around">
            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/relatorios" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/relatorio.png" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Relatórios</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{relatorios}} Relatórios compilados</label>
                </div>
            </div>


            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/tripulantes" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/tripulante.png" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Tripulantes</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{tripulantes}} Tripulantes cadastrados</label>
                </div>
            </div>


            <div class="card mt-4" style="max-width: 15rem">
                <a href="/admin/portos" style="text-decoration:none">
                    <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                        <img src="/img/farol.png" class="img-fluid rounded-center"  alt="...">
                        <h6 class="mt-4">Portos</h6>
                    </div>
                </a>
                <div class="card-footer text-center bg-light">
                    <label>{{portos}} Portos cadastrados</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>




<script src="/js/babylon.js"></script>







