<div class="card">
    <div class="card-body">
        <form method="POST" action="/addCorrecao">
            <input type="text" value="{{despachos._id}}{{avisoSaidas._id}}{{avisoEntradas._id}}" name="documentId" hidden>
            <h4 class="text-center">Solicitar Correção de documento.</h4>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" style="height: 100px" name="conteudoCorrecao"></textarea>
                <label for="floatingTextarea2">Informe o conteúdo para ser corrigido.</label>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success" required>Solicitar</button>
            </div>
        </form>
    </div>
</div>
<br>
{{#each correcoes}}
<br>
<div class="card">
    <div class="card-body">
        <form>
            <h4 class="text-center">Correção Solicitada em {{dataPedido}}</h4>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingTextarea2" style="height: 100px" value="{{conteudo}}" disabled>
                <label for="floatingTextarea2"></label>
            </div>
            <br>
        </form>
    </div>
</div>
<br>
{{else}}
{{/each}}
