{{#each despachos}}
    <div id="{{_id}}" class="card mt-4">
        <div class="card-header">
            <h6>Despacho: {{NprocessoDespacho}}</h6>
            <label >Situação: {{editado}}</label>

        </div>
        <div class="card-body">
            <div>
                <label>Agência: {{agenciaNome}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <label>Data Solicitada: {{despachoDataPedido}}</label>
                <br>
            </div>
        </div>
        <div class="card-footer">
            <label>Validade: {{despachoDataValidade}}</label><br>
            <a id="validacao{{_id}}" class="btn btn-warning float-end mx-1" href="/despachoCorrecao/{{_id}}">Corrigir</a>
            <a class="btn btn-success" href="/formulario/despachoVizu/{{_id}}">Visualizar</a>
        </div>
    </div>
{{>_classificacao}}
{{else}}
<h6>Nenhuma Requisição de Despacho</h6>
{{/each}}