{{#each avisoEntradas}}
    <div id="{{_id}}" class="card mt-4">
        <div class="card-header">
            <label class="float-end">Situação: {{editado}}</label>
            <h6>Aviso de Entrada: {{entradaNprocesso}}</h6>
        </div>
        <div class="card-body">
            <div>
                <label>Agência: {{agenciaNome}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <label>Data Solicitada: {{entradaDataPedido}}</label>
                <br>
            </div>
        </div>
        <div class="card-footer">
                <label class="mt-2">Data: {{entradaDataPedido}}</label>
                <a class="btn btn-success float-end mx-2" href="/formulario/avisoEntradavizu/{{_id}}">Visualizar</a>
            <form class="float-end" action="/admin/entradas/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{>_classificacao}}
{{else}}
<h6>Nenhum despacho</h6>
{{/each}}