{{#each avisoEntradas}}
    <div id="{{_id}}" class="card mt-4">
        <div class="card-header">
            <h6>Aviso de Entrada: {{entradaNprocesso}}</h6>
            <label>Situação: {{editado}}</label>
        </div>
        <div class="card-body">
            <div>
                <label>Agência: {{agenciaNome}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <label>Data Solicitada: {{entradaDataPedido}}</label>
                <br>
            </div>
        </div>
        <div class="card-footer">
            <label>Validade: {{entradaDataValidade}}</label>
            <a class="btn btn-success float-end" href="/formulario/avisoEntradaVizu/{{_id}}">Visualizar</a>
        </div>
    </div>
{{>_classificacao}}
{{else}}
<h6>Nenhuma Requisição de Entrada</h6>
{{/each}}