{{#each avisoSaidas}}
    <div id="{{_id}}" class="card mt-4">
        <div class="card-header">
            <label class="float-end">Situação: {{editado}}</label>
            <h6>Aviso de Saida: {{saidaNprocesso}}</h6>
        </div>
        <div class="card-body">
            <div>
                <label>Agência: {{agenciaNome}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <label>Data Solicitada: {{saidaDataPedido}}</label>
                <br>
            </div>
        </div>
        <div class="card-footer">
                <label class="mt-2">Data: {{saidaDataPedido}}</label>
                <a class="btn btn-success float-end" href="/formulario/avisosaidavizu/{{_id}}">Visualizar</a>
                <a class="btn btn-warning float-end mx-1" href="/admin/saidasValidate/{{_id}}">Editar</a>
            <form class="float-end" action="/admin/saidas/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{>_classificacao}}
{{else}}
<h6>Nenhum despacho</h6>
{{/each}}