{{#each avisoSaidas}}
    <div id="{{_id}}" class="card mt-4">
        <div class="card-header">
            <h6>Aviso de Saída: {{saidaNprocesso}}</h6>
            <label>Situação: {{editado}}</label>
        </div>
        <div class="card-body">
            <div>
                <label>Agência: {{agenciaNome}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <label>Data Solicitada: {{saidaDataPedido}}</label>
                <br>
            </div>
        </div>
        <div class="card-footer">
            <label>Validade: {{saidaDataValidade}}</label>
        </div>
        <a class="btn btn-success float-end" href="/formulario/avisoSaidaVizu/{{_id}}">Visualizar</a>
    </div>
{{>_classificacao}}
{{else}}
<h6>Nenhuma Requisição de Saída</h6>
{{/each}}