<br>
<h2 class="text-center mb-4">PORTO</h2>
<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
                <div class="input-group mb-3">
                    <label class="input-group-text">Nome do Porto</label>
                    <input value="{{portos.portoNome}}" class="form-control" type="text" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Posição X</label>
                    <input id="rangeX" value="{{portos.positionX}}" class="form-control" type="range" min="-100" max="100" disabled>
                    
                    <label class="input-group-text">Posição Z</label>
                    <input id="rangeZ" value="{{portos.positionZ}}" class="form-control" type="range" min="-100" max="100" disabled>
                </div>
                <div style="display: flex" class="mapIMG">
                    <div class="map">
                            <div id="bolinha" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 20px; height: 20px; border-radius: 50%; background-color: red;">
                            </div>
                    </div>
                </div>
                <script>

                window.addEventListener('load', function() {
                const valueX = parseInt(rangeX.value * 6.5);
                const percentX = valueX / parseInt(rangeX.max);
                const positionX = percentX * parseInt(bolinha.parentNode.offsetWidth);

                bolinha.style.left = positionX + 'vh';
                })

                window.addEventListener('load', function() {
                const valueZ = - parseInt(rangeZ.value * 9.4);
                const percentZ = valueZ / parseInt(rangeZ.max);
                const positionZ = percentZ * parseInt(bolinha.parentNode.offsetWidth);

                bolinha.style.top = positionZ + 'vh';
                
                });

                    </script>
        </form>
    </div>
        <label class="text-center">Posição X: {{portos.positionX}} || Posição Z: {{portos.positionZ}}</label>
    <br>
</div>
<br>
<h4 class="text-center">Documentos de Saída para este porto</h4>
    {{#each avisoSaidas}}
        <div class="card mt-4">
            <div class="card-body">
                <label>Saída: {{saidaNprocesso}}</label>
                <br>
                <label>Embarcação: {{embarcacaoNome}}</label>
                <br>
                <a class="btn btn-primary" href="/formulario/avisoSaidaVizu/{{_id}}" style="float: right">Visualizar</a>
            </div>
        </div>
    {{else}}
        <h4>Nenhuma Saída neste porto</h4>
    {{/each}}
<br>
<br>
<a class="btn btn-primary" href="/admin/portos">Portos</a>

