<h1>Portos: </h1>
<br>
{{#each portos}}
    <div class="card mt-4">
        <div class="card-body">
            <label>Nome: {{portoNome}}</label>
            <br>
            <label>info </label>
                <a class="btn btn-primary" href="/admin/portoVizu/{{_id}}" style="float: right">Visualizar</a>
                <a class="btn btn-warning mx-4" href="/admin/portoEdit/{{_id}}" style="float: right">Editar</a>
            <form class="float-end" action="/admin/portos/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{else}}
    <h4>Nenhum Porto cadastrado!</h4>
{{/each}}
<br>
<a href="/admin/portos/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/portos/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

