
<br>
<br>

<div class="countainer">
    <div class="card">
        <div class="card-body">
            <h3>Comboio</h3>
                <form class="row gx-3 gy-2 align-items-center" action="comboiosValidate" method="POST">
                    <input type="hidden" name="usuarioID" value="%= req.user._id %">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome do Comboio</label>
                            <input name="comboioNome" value="{{comboios.comboioNome}}" class="form-control" type="text" disabled>
                        </div>
                        <div>
                            <h5>Embarcaçoes</h5>
                            <br>
                                <div id="selecaoComboio">
                                    <div class="container">
                                        <div>
                                            <div class="card">
                                                <div class="card-body">
                                                        {{#each comboios.embarcacoes}}
                                                            <div class="input-group m-3">
                                                                <label class="input-group-text">Nome da Embarcação</label>
                                                                <input value="{{embarcacaoNome}}" class="form-control" type="text">
                                                                <label class="input-group-text">carga</label>
                                                                <input value="{{carga}}" class="form-control" type="text">
                                                            </div>
                                                            <div class="input-group m-3">
                                                                <label class="input-group-text">quantidade e unidade de carga</label>
                                                                <input value="{{quantidade}}" class="form-control" type="text">
                                                                <label class="input-group-text">Arqueaçao Bruta</label>
                                                                <input value="{{arqueacaoBruta}}" class="form-control" type="text">
                                                            </div>
                                                            <br>
                                                        {{/each}}                            

                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button type="submit" id="submitButton" class="btn btn-success" disabled>Enviar</button>
                </form>
        </div>
    </div>
</div>
