<h3>Comboios</h3>

{{#each comboios}}
<div class="card">
    <div class="card-body">
        <label>Nome do Comboio: {{comboioNome}}</label>
        <a class="btn btn-warning float-end mx-3" href="/admin/comboiosValidate/{{_id}}">Editar</a>
        <a class="btn btn-primary float-end" href="/formulario/comboiosVizu/{{_id}}">Visualizar</a>
    </div>
</div>
<br>
{{else}}
<h5>Nenhum comboio cadastrado</h5>
{{/each}}
<br>
<a href="/admin/painel" class="btn btn-primary" {{hidden}}>Painel</a>
<a href="/admin/comboios/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>