
<br>
<h2 class="text-center mb-4">AVISO DE ENTRADA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Entrada enviado em: {{avisoEntradas.entradaDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center">
            <input type="hidden" name="usuarioID" value="%= req.user._id %">
            <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despacho.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Entrada</label>
                    <input name="entradaNprocesso" class="form-control" type="text" value="{{avisoEntradas.entradaNprocesso}}" disabled>
                    <label class="input-group-text" class="input-group-text">Situação</label>
                    <input name="entradaNprocesso" class="form-control" type="text" value="{{editado}}" disabled>
                </div>
                <div>
                    <h4 class="text-center">Dados da Estadia</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de chegada</label>
                        <input name="entradaPortoChegada" class="form-control" type="text" value="{{portoChegada.portoNome}}" disabled>
                        <label class="input-group-text">Data/Hora de chegada</label>
                        <input name="entradaDataHoraChegada" class="form-control" type="datetime-local" value="{{avisoEntradas.entradaDataHoraChegada}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Posição no Porto Atual</label>
                        <input name="entradaPosicaoPortoAtual" class="form-control" type="text" value="{{avisoEntradas.entradaPosicaoPortoAtual}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Origem</label>
                        <input name="entradaPortoOrigem" class="form-control" type="text" value="{{portoOrigem.portoNome}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input name="entradaPortoDestino" class="form-control" type="text" value="{{portoDestino.portoNome}}" disabled>
                        <label class="input-group-text">Data/Hora Estimada de Saída para Porto de destino</label>
                        <input name="entradaDataHoraEstimadaSaida" class="form-control" type="datetime-local" value="{{avisoEntradas.entradaDataHoraEstimadaSaida}}" disabled>
                    </div>
                <div>
                    <h4 class="text-center">Dados da Embarcação</h4>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome da Embarcação</label>
                            <input name="entradaNomeEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.embarcacaoNome}}" disabled>
                            <label class="input-group-text">Tipo da Embarcação</label>
                            <input name="entradaTipoEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.embarcacaoTipo}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Bandeira</label>
                            <input name="entradaBandeira" class="form-control" type="text" value="{{avisoEntradas.embarcacaoBandeira}}" disabled>
                            <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input name="entradaNInscricaoAutoridadeMaritima" class="form-control" type="text" value="{{avisoEntradas.embarcacaoNInscricaoautoridadeMB}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Arqueação Buta</label>
                            <input name="entradaArqueacaoBruta" class="form-control" type="text" value="{{avisoEntradas.embarcacaoArqueacaoBruta}}" disabled>
                            <label class="input-group-text">Tonelagem Porte Bruto</label>
                            <input name="entradaTonelagemPorteBruto" class="form-control" type="text" value="{{avisoEntradas.embarcacaoTonelagemPorteBruto}}" disabled>
                        </div>
                </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="entradaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaNomeRepresentanteEmbarcacao}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="entradaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaCPFCNPJRepresentanteEmbarcacao}}" disabled>
                        <label class="input-group-text">Telefone</label>
                        <input name="entradaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaTelefoneRepresentanteEmbarcacao}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="entradaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEnderecoRepresentanteEmbarcacao}}" disabled>
                        <label class="input-group-text">Email</label>
                        <input name="entradaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEmailRepresentanteEmbarcacao}}" disabled>
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Dados da Ultima Inspeção Naval</label>
                        <input name="entradaDadosUltimaInpecaoNaval" class="form-control" type="text" value="{{avisoEntradas.entradaDadosUltimaInpecaoNaval}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                        <input name="entradaDeficienciasRetificadasPorto" class="form-control" type="text" value="{{avisoEntradas.entradaDeficienciasRetificadasPorto}}" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Transporte de Carga Perigosa</label>
                        <input name="entradaTransporteCagaPerigosa" class="form-control" type="text" value="{{avisoEntradas.entradaTransporteCagaPerigosa}}" disabled>
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="entradaObservacoes" class="form-control" type="text" value="{{avisoEntradas.entradaObservacoes}}" disabled>
                    </div>
                </div>
                <br>
                <h4 class="text-center">Lista de Tripulantes</h4>
                {{#each tripulantes}}
                    <div>
                        <div id="tripulantes" class="card bg-secondary mt-4">
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <div class="input-group">
                                <label class="input-group-text">Nome do Tripulante</label>
                                <input class="form-control" type="text" value="{{tripulanteNome}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Função</label>
                                <input name='tripulanteFuncao' class="form-control" type="text" value="{{funcao}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Grau</label>
                                <input class="form-control" type="text" value="{{tripulanteGrau}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Número da CIR</label>
                                <input class="form-control" type="text" value="{{tripulanteNCIR}}" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                {{/each}}
                <br>
                <div>
                        <h4 class="text-center">Lista de Passageiros</h4>
                        {{#each avisoEntradas.entradaPassageiros}}
                                <div id="passageiros" class="card bg-secondary mt-4">
                                    <span>Passageiro: {{add @index 1}}</span>
                                        <div class="input-group">
                                            <label class="input-group-text">Nome</label>
                                                <input value="{{nome}}" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Data de Nascimento</label>
                                                <input value="{{dataNascimento}}" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Sexo</label>
                                                <input value="{{sexo}}" class="form-control" type="text" disabled>
                                        </div>
                                </div>
                            <br>
                        {{/each}}
                    </div>
                    <div>
                    <h4 class="text-center">Comboios</h4>
                </div>
                {{#each avisoEntradas.entradaComboios}}
                <div class="bg-secondary">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Número de Inscrição</label>
                        <input value="{{NInscricao}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
                {{/each}}
                <br>
                <div class="input-group">
                    <label class="input-group-text">Data de Validade</label>
                    <input class="form-control" value="{{avisoEntradas.entradaDataValidadeNumber}}" disabled>
                </div>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoEntrada/{{avisoEntradas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>
<br>
<br>
<br>
{{>_correcao}}