<h4>Lista de Avisos de Entrada</h4>
<br>
{{#each avisoEntradas}}

    <div id="{{_id}}" class="card mt-4">
        <div class="card-body">
            <div>
                <h6>Despacho: {{entradaNprocesso}}</h6>
                <p>Agencia: {{agenciaNome}}</label>
                <p>Embarcação: {{embarcacaoNome}}</label>
                <br>
            </div>
            <div class="">
                <label class="mt-2">Data: {{entradaDataPedido}}</label>
                <a class="btn btn-success float-end" href="/formulario/avisoEntradavizu/{{_id}}">Visualizar</a>
            </div>
        </div>
    </div>

{{else}}
<h6>Nenhum Aviso de Entrada</h6>
{{/each}}

<br>
<a href="/formulario" class="btn btn-primary">Formulários</a>
<a href="/entradas/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>