
<br>
<h2 class="text-center mb-4">PEDIDO DE DESPACHO POR PERÍODO – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Despacho enviado em: {{despachos.despachoDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/despachoValidate" method="POST">
            <input type="hidden" name="id" value="{{despachos._id}}">
            <div class="input-group mb-3">
                <label class="input-group-text">N° Processo de Despacho</label>
                <input name="NprocessoDespacho" class="form-control" type="text" value="{{despachos.NprocessoDespacho}}">
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados de Despacho (data off Clearence)</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Estadia</label>
                        <input class="form-control" value="{{portoDespacho.portoNome}}" disabled>
                        <br>
                        <label class="input-group-text">Redefinir Porto de Estadia</label>
                        <select id="select1" name="despachoPortoEstadia" class="form-select" onchange="outroPorto('campo1', 'select1')">
                            <option value="{{despachos.despachoPortoEstadia}}">Já Selecionado: {{portoDespacho.portoNome}}</option>
                        {{#each portos}}
                        <option value="{{_id}}">
                            {{portoNome}}
                        </option>
                        {{/each}}
                        <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <br>
                        <br>
                        <div id="campo1" hidden>
                        <label class="input-group-text">Adicione outro porto de Estadia</label>
                        <input name="despachoOutroPortoEstadia" value="{{portoDespacho.portoNome}}" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>

                        <label class="input-group-text">Data/Hora Estimada de Partida</label>
                        <input name="despachoDataHoraPartida" class="form-control" type="date" value="{{despachos.despachoDataHoraPartida}}">
                    </div>
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input class="form-control" type="text" value="{{despachos.embarcacaoNome}}" disabled>
                        <label class="input-group-text">Tipo da Embarcação</label>
                        <input class="form-control" type="text" value="{{despachos.embarcacaoTipo}}" disabled>
                    </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Bandeira</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoBandeira}}" disabled>
                <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoNInscricaoautoridadeMB}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Arqueação Bruta</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoArqueacaoBruta}}" disabled>
                <label class="input-group-text">Comprimento Total</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoComprimentoTotal}}" disabled>
                <label class="input-group-text">Tonelagem Porte Bruto</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoTonelagemPorteBruto}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Certificado de Registro do Amador(CRA)</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoCertificadoRegistroAmador}}" disabled>
                <label class="input-group-text">Armador</label>
                <input class="form-control" type="text" value="{{despachos.embarcacaoArmador}}" disabled>
            </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° do CRA</label>
                        <input class="form-control" type="text" value="{{despachos.embarcacaoNCRA}}" disabled>
                        <label class="input-group-text">Validade</label>
                        <input class="form-control" type="text" value="{{despachos.embarcacaoValidade}}" disabled>
                    </div>

                <h4 class="text-center">Dados de Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                            <label class="input-group-text">Nome</label>
                            <input name="despachoNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoNomeRepresentanteEmbarcacao}}">
                            <label class="input-group-text">CPF/CNPJ</label>
                            <input name="despachoCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoCPFCNPJRepresentanteEmbarcacao}}">
                        </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text">Telephone</label>
                                <input name="despachoTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoTelefoneRepresentanteEmbarcacao}}">
                                <label class="input-group-text">Endereço</label>
                                <input name="despachoEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEnderecoRepresentanteEmbarcacao}}">
                                <label class="input-group-text">E-mail</label>
                                <input name="despachoEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEmailRepresentanteEmbarcacao}}">
                            </div>
                    
            </div>
            <div>
                <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Data da Última Inspeção Naval</label>
                        <input name="despachoDataUltimaInspecaoNaval" class="form-control" type="text" value="{{despachos.despachoDataUltimaInspecaoNaval}}">
                    </div>
                <br>
                    <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                    <input name="despachoDeficiencias" class="form-control" type="text" value="{{despachos.despachoDeficiencias}}">
                <br>
                    <label class="input-group-text">Transporta Carga Perigosa</label>
                    <input name="despachoTransportaCargaPerigosa" class="form-control" type="text" value="{{despachos.despachoTransportaCargaPerigosa}}">
                <br>
                    <label class="input-group-text">Há algum certificado ou documento temporário da embarcação, cuja validade expire nos proximos 90 dias?</label>
                    <input name="despachoCertificadoTemporario90dias" class="form-control" type="text" value="{{despachos.despachoCertificadoTemporario90dias}}">
                <br>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Caso afirmativo, informe o(s) certificado(s)/documento(s) e suas respectivas datas de validade</label>
                        <input name="despachoCasoDocumentoExpirado" class="form-control" type="text" value="{{despachos.despachoCasoDocumentoExpirado}}">
                    </div>
            </div>
            <div>
                <h4 class="text-center">Observações</h4>
                    <div class="input-group">
                        <input name="despachoOBS" class="form-control" value="{{despachos.despachoOBS}}">
                    </div>
            </div>
            <div>
                <h4 class="text-center mt-3">Lista de Tripulantes</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° de Tripulantes - incluindo o Comandante</label>
                        <input name="despachoNTripulantes" class="form-control" type="text" value="{{despachos.despachoNTripulantes}}">
                        <label class="input-group-text">Nome do Comandante</label>
                        <input name="despachoNomeComandante" class="form-control" type="text" value="{{despachos.despachoNomeComandante}}">
                    </div>
            </div>
            <div id="selecaoTripulantes">
                <div class="container">
                {{#each tripDespacho}}
                <div id="{{_id}}" calss=" m-4">
                    <div class="card bg-secondary m-4">
                        <div>
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                            <div class="input-group">
                                <label class="input-group-text">Nome do Tripulante</label>
                                <input class="form-control" type="text" value="{{tripulanteNome}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Função</label>
                                <input name='tripulanteFuncao' class="form-control" type="text" value="{{funcao}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Grau</label>
                                <input class="form-control" type="text" value="{{tripulanteGrau}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Número da CIR</label>
                                <input class="form-control" type="text" value="{{tripulanteNCIR}}" disabled>
                            </div>
                        <input name="tripulante" value="{{_id}}" hidden>
                    </div>
                </div>
                
                {{/each}}
            {{>_tripulantes}}
            <br>
            </div>
            </div>

            <div>
                <h4 class="text-center">Comboios</h4>
            </div>
            <div id="selecaoComboio">
                <div class="container">
            {{#each despachos.despachoComboios}}
                <div class="bg-secondary" id="{{_id}}">
                    <div>
                        <span class="m-1">Embarcação: {{add @index 1}}</span>
                        <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletecomboio('{{_id}}')">Remover</button>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Número de Inscrição</label>
                        <input value="{{NInscricao}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
            {{/each}}
            {{>_comboios}}
                </div>
            </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Solicitação de Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataSolicitada}}" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataValidade}}" class="form-control" type="text" placeholder="" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Alterar vencimento do despacho</label>
                    <input value="{{despachos.despachoDataValidade}}" name="despachoDataValidade" class="form-control" type="date" placeholder="Este campo será preenchido após verificação do despachante" required>
                </div>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/despacho/{{despachos._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>
