
<br>
<h2 class="text-center mb-4">PEDIDO DE DESPACHO POR PERÍODO – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Despacho enviado em: {{despachos.despachoDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/despachoValidate" method="POST">
            <input type="hidden" name="id" value="{{despachos._id}}">
            <div class="input-group mb-3">
                <label class="input-group-text">N° Processo de Despacho</label>
                <input name="NprocessoDespacho" class="form-control" type="text" value="{{despachos.NprocessoDespacho}}">
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados de Despacho (data off Clearence)</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Estadia</label>
                        <input class="form-control" value="{{portoDespacho.portoNome}}" disabled>
                        <br>
                        <label class="input-group-text">Redefinir Porto de Estadia</label>
                        <select id="select1" name="despachoPortoEstadia" class="form-select" onchange="outroPorto('campo1', 'select1')">
                            <option value="{{despachos.despachoPortoEstadia}}">Já Selecionado: {{portoDespacho.portoNome}}</option>
                        {{#each portos}}
                        <option value="{{_id}}">
                            {{portoNome}}
                        </option>
                        {{/each}}
                        <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <br>
                        <br>
                        <div id="campo1" hidden>
                        <label class="input-group-text">Adicione outro porto de Estadia</label>
                        <input name="despachoOutroPortoEstadia" value="{{portoDespacho.portoNome}}" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>

                        <label class="input-group-text">Data/Hora Estimada de Partida</label>
                        <input name="despachoDataHoraPartida" class="form-control" type="date" value="{{despachos.despachoDataHoraPartida}}">
                    </div>
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input class="form-control" type="text" value="{{embDespacho.embarcacaoNome}}" disabled>
                        <label class="input-group-text">Tipo da Embarcação</label>
                        <input class="form-control" type="text" value="{{embDespacho.embarcacaoTipo}}" disabled>
                    </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Bandeira</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoBandeira}}" disabled>
                <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoNInscricaoautoridadeMB}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Arqueação Bruta</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoArqueacaoBruta}}" disabled>
                <label class="input-group-text">Comprimento Total</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoComprimentoTotal}}" disabled>
                <label class="input-group-text">Tonelagem Porte Bruto</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoTonelagemPorteBruto}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Certificado de Registro do Amador(CRA)</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoCertificadoRegistroAmador}}" disabled>
                <label class="input-group-text">Armador</label>
                <input class="form-control" type="text" value="{{embDespacho.embarcacaoArmador}}" disabled>
            </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° do CRA</label>
                        <input class="form-control" type="text" value="{{embDespacho.embarcacaoNCRA}}" disabled>
                        <label class="input-group-text">Validade</label>
                        <input class="form-control" type="text" value="{{embDespacho.embarcacaoValidade}}" disabled>
                    </div>
            <div class="input-group mb-3">
                    <label class="input-group-text">Redefinir Embarcação</label>
                <select name="embarcacao" class="form-select">
                    <option value="{{despachos.embarcacao}}">Já selecionado: {{embDespacho.embarcacaoNome}}</option>
                    {{#each embarcacoes}}
                        <option value="{{_id}}">{{embarcacaoNome}}</option>
                    {{else}}
                        <option value="0">Nenhuma embarcação cadastrada</option>
                    {{/each}}
                </select>
                </div>
            <div>
                <h4 class="text-center">Dados de Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                            <label class="input-group-text">Nome</label>
                            <input name="despachoNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoNomeRepresentanteEmbarcacao}}">
                            <label class="input-group-text">CPF/CNPJ</label>
                            <input name="despachoCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoCPFCNPJRepresentanteEmbarcacao}}">
                        </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text">Telephone</label>
                                <input name="despachoTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoTelefoneRepresentanteEmbarcacao}}">
                                <label class="input-group-text">Endereço</label>
                                <input name="despachoEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEnderecoRepresentanteEmbarcacao}}">
                                <label class="input-group-text">E-mail</label>
                                <input name="despachoEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEmailRepresentanteEmbarcacao}}">
                            </div>
                    
            </div>
            <div>
                <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Data da Última Inspeção Naval</label>
                        <input name="despachoDataUltimaInspecaoNaval" class="form-control" type="text" value="{{despachos.despachoDataUltimaInspecaoNaval}}">
                    </div>
                <br>
                    <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                    <input name="despachoDeficiencias" class="form-control" type="text" value="{{despachos.despachoDeficiencias}}">
                <br>
                    <label class="input-group-text">Transporta Carga Perigosa</label>
                    <input name="despachoTransportaCargaPerigosa" class="form-control" type="text" value="{{despachos.despachoTransportaCargaPerigosa}}">
                <br>
                    <label class="input-group-text">Há algum certificado ou documento temporário da embarcação, cuja validade expire nos proximos 90 dias?</label>
                    <input name="despachoCertificadoTemporario90dias" class="form-control" type="text" value="{{despachos.despachoCertificadoTemporario90dias}}">
                <br>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Caso afirmativo, informe o(s) certificado(s)/documento(s) e suas respectivas datas de validade</label>
                        <input name="despachoCasoDocumentoExpirado" class="form-control" type="text" value="{{despachos.despachoCasoDocumentoExpirado}}">
                    </div>
            <div>
                <h4 class="text-center">Observações</h4>
                    <div class="input-group">
                        <input name="despachoOBS" class="form-control" value="{{despachos.despachoOBS}}">
                    </div>
            </div>
            <div>
                <h4 class="text-center mt-3">Lista de Tripulantes</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° de Tripulantes - incluindo o Comandante</label>
                        <input name="despachoNTripulantes" class="form-control" type="text" value="{{despachos.despachoNTripulantes}}">
                        <label class="input-group-text">Nome do Comandante</label>
                        <input name="despachoNomeComandante" class="form-control" type="text" value="{{despachos.despachoNomeComandante}}">
                    </div>
            </div>
            <div id="selecaoTripulantes">
                <div class="container">
                {{#each tripDespacho}}
                
                <div id="{{_id}}" calss=" m-4">
                    <div class="card bg-secondary m-4">
                        <div>
                            
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                        <input class="form-control" type="text" value="Nome: {{tripulanteNome}}" disabled>
                        <input class="form-control" type="text" value="Grau: {{tripulanteGrau}}" disabled>
                        <input class="form-control" type="text" value="Numero da CIR: {{tripulanteNCIR}}" disabled>
                        <input name="tripulante" value="{{_id}}" hidden>
                    </div>
                </div>
                
                {{/each}}
                <div>
                    <div id="tripulantes">
                        <script>
                           var divCounter = 0
                                function addInputSelect(divName) {
                                var newdiv = document.createElement('div');
                                var divId = "div" + divCounter
                                newdiv.setAttribute('id', divId)
                                newdiv.innerHTML = '<select name="tripulante" class="btn-group"><option id="emBranco" value="emBranco">Em Branco</option>{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}}</option>{{/each}}</select><button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
                                document.getElementById(divName).appendChild(newdiv);
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = true
                                divCounter++;
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                }

                                function deleteBranco(divId){
                                    tripulantesArray = []
                                    var emBranco = document.getElementById(divId)
                                    emBranco.remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }

                                addInputSelect('lines');

                                function getId(){
                                
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = false

                                var tripulantesArray = []

                                var tripulantesIds = document.querySelectorAll("[name='tripulante']")
                                            for (var i = 0; i < tripulantesIds.length; i++) {
                                                if(tripulantesIds[i].value == 'emBranco'){
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    
                                                }
                                        tripulantesArray.push(tripulantesIds[i].value)
                                        document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                                    }
                                    if(tripulantesArray.length == 0 ){
                                        var submiteButton = document.getElementById('submitButton')
                                        submiteButton.disabled = true
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }
                                    if(tripulantesArray.find(el => el == 'emBranco')){
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }else{
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                    }
                                    console.log(tripulantesArray)
                                
                                    
                                }
                                function deleteTripulante(id){
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    tripulantesArray = []
                                    document.getElementById(id).remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }
                        </script>
                    </div>
                    <input value="" id="tripulantesArrayIds" name="despachoTripulantes" hidden>
                    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar tripulante</button>
                    <button class="btn btn-success" type="button" onclick="getId()" style="float: right" required>Fechar Relação</button>
                    
                </div>
                </div>
            </div>
            <br>
            <div>
                <h4 class="text-center">Comboios</h4>
            </div>
            <h6 class="text-center">{{comboioDespacho.comboioNome}}</h6>
            {{#each comboioDespacho.embarcacoes}}
                <div class="bg-secondary">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
            {{/each}}

            <div class="input-group">
                <label class="input-group-text">Alterar Comboio</label>
                <select name="despachoComboio" class="form-select">
                    <option value="{{despachos.despachoComboios}}">Já selecionado: {{comboioDespacho.comboioNome}}</option>
                    {{#each comboios}}
                        <option value="{{_id}}">{{comboioNome}}</option>
                    {{else}}
                        <option value="0">Nenhum comboio formulado</option>
                    {{/each}}
                </select>
            </div>
            <br>
            </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Solicitação de Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataSolicitada}}" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataValidade}}" class="form-control" type="text" placeholder="" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Alterar vencimento do despacho</label>
                    <input value="{{despachos.despachoDataValidade}}" name="despachoDataValidade" class="form-control" type="date" placeholder="Este campo será preenchido após verificação do despachante" required>
                </div>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/despacho/{{despachos._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>