
<br>
<h2 class="text-center mb-4">PEDIDO DE DESPACHO POR PERÍODO – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Despacho enviado em: {{despachos.despachoDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/despachoValidate" method="POST">
            <input type="hidden" name="id" value="{{despachos._id}}">
            <div class="input-group mb-3">
                <label class="input-group-text">N° Processo de Despacho</label>
                <input name="NprocessoDespacho" class="form-control" type="text" value="{{despachos.NprocessoDespacho}}">
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados de Despacho (data off Clearence)</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Estadia</label>
                        <input name="despachoPortoEstadia" class="form-control" type="text" value="{{portos.portoNome}}">
                        <label class="input-group-text">Data/Hora Estimada de Partida</label>
                        <input name="despachoDataHoraPartida" class="form-control" type="date" value="{{despachos.despachoDataHoraPartida}}">
                    </div>
            </div>
            <br>
            <div>
                <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input name="despachoNomeEmbarcação" class="form-control" type="text" value="{{embDespacho.embarcacaoNome}}">
                        <label class="input-group-text">Tipo da Embarcação</label>
                        <input name="despachoTipoEmbarcacao" class="form-control" type="text" value="{{embDespacho.embarcacaoTipo}}">
                    </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Bandeira</label>
                <input name="despachoBandeira" class="form-control" type="text" value="{{embDespacho.embarcacaoBandeira}}">
                <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                <input name="despachoNInscricaoautoridadeMB" class="form-control" type="text" value="{{embDespacho.embarcacaoNInscricaoautoridadeMB}}">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Arqueação Bruta</label>
                <input name="despachoArqueacaoBruta" class="form-control" type="text" value="{{embDespacho.embarcacaoArqueacaoBruta}}">
                <label class="input-group-text">Comprimento Total</label>
                <input name="despachoComprimentoTotal" class="form-control" type="text" value="{{embDespacho.embarcacaoComprimentoTotal}}">
                <label class="input-group-text">Tonelagem Porte Bruto</label>
                <input name="despachoTonelagemPorteBruto" class="form-control" type="text" value="{{embDespacho.embarcacaoTonelagemPorteBruto}}">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Certificado de Registro do Amador(CRA)</label>
                <input name="despachoCertificadoRegistroAmador" class="form-control" type="text" value="{{embDespacho.embarcacaoCertificadoRegistroAmador}}">
                <label class="input-group-text">Armador</label>
                <input name="despachoArmador" class="form-control" type="text" value="{{embDespacho.embarcacaoArmador}}">
            </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° do CRA</label>
                        <input name="despacgoNCRA" class="form-control" type="text" value="{{embDespacho.embarcacaoNCRA}}">
                        <label class="input-group-text">Validade</label>
                        <input name="despachoValidade" class="form-control" type="text" value="{{embDespacho.embarcacaoValidade}}">
                    </div>
            
            <div>
                <h4 class="text-center">Dados de Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                            <label class="input-group-text">Nome</label>
                            <input name="despachoNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoNomeRepresentanteEmbarcacao}}">
                            <label class="input-group-text">CPF/CNPJ</label>
                            <input name="despachoCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoCPFCNPJRepresentanteEmbarcacao}}">
                        </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text">Telephone</label>
                                <input name="despachoTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoTelefoneRepresentanteEmbarcacao}}">
                                <label class="input-group-text">Endereço</label>
                                <input name="despachoEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEnderecoRepresentanteEmbarcacao}}">
                                <label class="input-group-text">E-mail</label>
                                <input name="despachoEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{despachos.despachoEmailRepresentanteEmbarcacao}}">
                            </div>
                    
            </div>
            <div>
                <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Data da Última Inspeção Naval</label>
                        <input name="despachoDataUltimaInspecaoNaval" class="form-control" type="text" value="{{despachos.despachoDataUltimaInspecaoNaval}}">
                    </div>
                <br>
                    <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                    <input name="despachoDeficiencias" class="form-control" type="text" value="{{despachos.despachoDeficiencias}}">
                <br>
                    <label class="input-group-text">Transporta Carga Perigosa</label>
                    <input name="despachoTransportaCargaPerigosa" class="form-control" type="text" value="{{despachos.despachoTransportaCargaPerigosa}}">
                <br>
                    <label class="input-group-text">Há algum certificado ou documento temporário da embarcação, cuja validade expire nos proximos 90 dias?</label>
                    <input name="despachoCertificadoTemporario90dias" class="form-control" type="text" value="{{despachos.despachoCertificadoTemporario90dias}}">
                <br>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Caso afirmativo, informe o(s) certificado(s)/documento(s) e suas respectivas datas de validade</label>
                        <input name="despachoCasoDocumentoExpirado" class="form-control" type="text" value="{{despachos.despachoCasoDocumentoExpirado}}">
                    </div>
            <div>
                <h4 class="text-center">Observações</h4>
                    <div class="input-group">
                        <input name="despachoOBS" class="form-control" value="{{despachos.despachoOBS}}">
                    </div>
            </div>
            <div>
                <h4 class="text-center mt-3">Lista de Tripulantes</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° de Tripulantes - incluindo o Comandante</label>
                        <input name="despachoNTripulantes" class="form-control" type="text" value="{{despachos.despachoNTripulantes}}">
                        <label class="input-group-text">Nome do Comandante</label>
                        <input name="despachoNomeComandante" class="form-control" type="text" value="{{despachos.despachoNomeComandante}}">
                    </div>
            </div>
            <div id="selecaoTripulantes">
                <div class="container">
                {{#each tripulantes}}
                <br>
                <div id="{{_id}}" calss=" m-4">
                    <div class="card bg-secondary">
                        <div>
                            
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                        <input class="form-control" type="text" value="Nome: {{tripulanteNome}}" disabled>
                        <input class="form-control" type="text" value="Grau: {{tripulanteGrau}}" disabled>
                        <input class="form-control" type="text" value="Numero da CIR: {{tripulanteNCIR}}" disabled>
                        <input name="tripulante" value="{{_id}}" hidden>
                    </div>
                </div>
                <br>
                {{/each}}
                <div>
                    <div id="tripulantes">
                        <script>
                            var tripulantesArray = []
                            function addInputSelect(divName) {
                            var newdiv = document.createElement('div');
                            newdiv.innerHTML = '<select name="tripulante" class="form-select">{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}}</option>{{/each}}</select><br>';
                            document.getElementById(divName).appendChild(newdiv);
                            document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                            }
                            addInputSelect('lines');
                            function getId(){
                            tripulantesArray = []
                            var tripulantesIds = document.querySelectorAll("[name='tripulante']")
                            for (var i = 0; i < tripulantesIds.length; i++) {
                                tripulantesArray.push(tripulantesIds[i].value)
                                document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                            }
                            document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                            console.log(tripulantesArray)
                            }
                            function deleteTripulante(id){
                                document.getElementById(id).remove()
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')

                            }
                        </script>
                    </div>
                    <input value="" id="tripulantesArrayIds" name="despachoTripulantes" hidden>
                    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar tripulante</button>
                    <button class="btn btn-success" type="button" onclick="getId()" style="float: right">Fechar Relação</button>
                    
                </div>
                </div>
            </div>
            <br>
            <div>
                <h4 class="text-center">Comboios</h4>
                <span>No caso de navegação em comboio, preencher as informações abaixo sobre as embarcações não propulsadas componentes do comboio</span>
            </div>
            <div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Nome da Embarcação</label>
                    <input name="despachoNomeEmbarcacao" class="form-control" type="text" value="{{despachos.despachoNomeEmbarcacao}}">
                    <label class="input-group-text">N° de Inscrição</label>
                    <input name="despachoNEmbN" class="form-control" type="text" value="{{despachos.despachoNEmbN}}">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Arqueação Bruta</label>
                    <input name="despachoArqueacaoBrutaComboio" class="form-control" type="text" value="{{despachos.despachoArqueacaoBrutaComboio}}">
                    <label class="input-group-text">Carga</label>
                    <input name="despachoCarga" class="form-control" type="text" value="{{despachos.despachoCarga}}">
                    <label class="input-group-text">Quantidade e Unidade de Carga</label>
                    <input name="despachoQuantidadeCaga" class="form-control" type="text" value="{{despachos.despachoQuantidadeCaga}}">
                </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Somatório da Arqueação Bruta das embarcações que compõem o comboio, incluindo a embarcação propulsora</label>
                            <input name="despachoSomaArqueacaoBruta" class="form-control" type="text" value="{{despachos.despachoSomaArqueacaoBruta}}">
                        </div>
                </div>
                </div>
                <div>
                    <label>Embarcação</label>
                    <input value="{{embDespacho.embarcacaoNome}}" disabled>
                </div>
                <br>
                <div class="input-group mb-3">
                    <label class="input-group-text">Redefinir Embarcação</label>
                <select name="embarcacao" class="form-select">
                    {{#each embarcacoes}}
                        <option value="{{_id}}">{{embarcacaoNome}}</option>
                    {{else}}
                        <option value="0">Nenhuma embarcação cadastrada</option>
                    {{/each}}
                </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Solicitação de Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataSolicitada}}" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Vencimento do despacho</label>
                    <input value="{{despachos.despachoDataValidade}}" class="form-control" type="date" placeholder="Este campo será preenchido após verificação do despachante">
                </div>
                <button type="submit" class="btn btn-success" required>Validar</button>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/despacho/{{despachos._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>