<div class="card m-4 border border-dark-subtle border-2">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body m-4">
      <h1 class="display-4">Capitania Fluvial do Pantanal</h1>
      <p class="lead">Protegendo nossas riquezas, cuidando da nossa gente!</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/pages/sobrenos" role="button">Sobre nós.</a>
      </div>
    </div>
        <div class="col">
        <img class="m-4" src="/img/mascote.png" style="max-width: 20rem; max-height: 20rem">
    </div>
  </div>
  <br>
</div>


<br>
<br>
<br>

<br>
<h1>Avisos: </h1>
<hr>
{{#each avisos}}

<div class="card border border-dark-subtle border-1 m-4">
  <div class="row g-0 ">
    <div class="col-md-4 ">
        <img class="m-4 " src="data:{{contentType}};base64,{{data}}" style="max-width: 20rem; max-height: 20rem">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br>
        <div class="card-header">
        <h4 class="text-center" style="white-space: pre-wrap;">{{titulo}}</h4>

        </div>
        <hr>
        <h6 class="card-text">{{descricao}}</h6>
      </div>
    </div>
  </div>
    <div class="mx-4">
      <small script=""><script>function converteData({{avisoData}}){
const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

const dataFormatada = new Intl.DateTimeFormat('pt-BR', {
    dateStyle: 'full',
    timeStyle: 'full',
    timeZone: timeZone,

}).format(date)
return dataFormatada
}</script></small>
      <a class="btn btn-primary float-end" href="/aviso/{{_id}}">Ler mais</a>
    </div>
    <br>
</div>

{{else}}
      <h5>Nenhuma aviso postado</h5>
{{/each}}

{{#if avisos}}
<br>
  <a href="/page/2" class="btn btn-primary" style="float: right">Próximo</a>
{{else}}

{{/if}}
<script>
function converteData(date){
const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

const dataFormatada = new Intl.DateTimeFormat('pt-BR', {
    dateStyle: 'full',
    timeStyle: 'full',
    timeZone: timeZone,

}).format(date)
return dataFormatada
}

console.log(converteData({{avisoData}}))
</script>
