<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Capitania Fluvial do Pantanal</h1>
  <p class="lead">Protegendo nossas riquezas, cuidando da nossa gente!</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="/pages/sobrenos" role="button">Sobre nos.</a>
</div>
<br>
<br>
<br>

<div class="card">
  <div class="card-body">

<h1>Avisos: </h1>
<hr>
{{#each avisos}}
      <div class="card mt-4" >
        <img src="data:{{contentType}};base64,{{data}}" style="width: 10rem;">
        <div class="card-body">
          <h4 class="card-title">{{titulo}}</h4>
          <h6>{{descricao}}</h6>
          <p class="card-text">{{conteudo}}</p>
          <hr>
          <h4>{{avisoData}}</h4>
        </div>
      </div>
{{else}}
      <h5>Nenhuma aviso postado</h5>
{{/each}}
</div>
</div>