<div class="card m-4">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body m-4">
      <h1 class="display-4">Capitania Fluvial do Pantanal</h1>
      <p class="lead">Protegendo nossas riquezas, cuidando da nossa gente!</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/pages/sobrenos" role="button">Sobre nos.</a>
      </div>
    </div>
        <div class="col">
        <img class="m-4" src="/img/mascoteCFPN.png" style="max-width: 20rem; max-height: 20rem">
    </div>
  </div>
  <br>
</div>


<br>
<br>
<br>

<br>






<h1>Avisos: </h1>
<hr>
{{#each avisos}}

<div class="card m-4">
  <div class="row g-0">
    <div class="col-md-4">
        <img class="m-4" src="data:{{contentType}};base64,{{data}}" style="max-width: 20rem; max-height: 20rem">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br>
        <h4 class="card-title">{{titulo}}</h4>
        <h6 class="card-text">{{descricao}}</h6>
      </div>
    </div>
  </div>
    <div class="mx-4">
      <smal>{{avisoData}}</smal>
      <a class="btn btn-primary float-end" href="/aviso/{{_id}}">Ler mais</a>
    </div>
    <br>
</div>

{{else}}
      <h5>Nenhuma aviso postado</h5>
{{/each}}

{{#if avisos}}
<br>
  <a href="/page/2" class="btn btn-primary" style="float: right">Próximo</a>
{{else}}

{{/if}}