<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h2>Realizar nova Requisição</h2>
        </div>
        <br>
        <h6>Recomendações: </h6>
        <ul>
            <li>Confirme suas infomações antes de enviar.</li>
            <li>Não passe as suas informações pessoais para outra pessoa.</li>
            <li>confira se os seus documentos estão atualizados no banco de dados.</li>
            <br>
            <div class="container text-center">
            <div class="row justify-content-around">
                    <div class="card mt-4" style="max-width: 15rem">
                        <a href="/formulario/addTripulante" style="text-decoration:none">
                        <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                            <img src="/img/sailor.png" class="img-fluid rounded-center"  alt="...">
                            <h6 class="mt-4">Cadastrar Tripulante</h6>
                        </div>
                        </a>
                    </div>


                    <div class="card mt-4" style="max-width: 15rem">
                        <a href="/formulario/addEmbarcacao" style="text-decoration:none">
                        <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                            <img src="/img/ship.png" class="img-fluid rounded-center"  alt="...">
                            <h6 class="mt-4">Cadastrar Embarcação</h6>
                        </div>
                        </a>
                    </div>

                    <div class="card mt-4" style="max-width: 15rem">
                        <a href="/formulario/despacho" style="text-decoration:none">
                        <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                            <img src="/img/despacho.svg" class="img-fluid rounded-center"  alt="...">
                            <h6 class="mt-4">Novo Despacho</h6>
                        </div>
                        </a>
                        </div>


                        <div class="card mt-4" style="max-width: 15rem">
                        <a href="/formulario/avisoEntrada" style="text-decoration:none">
                        <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                            <img src="/img/docEntrada.svg" class="img-fluid rounded-center"  alt="...">
                            <h6 class="mt-4">Novo Aviso Entrada</h6>
                        </div>
                        </a>
                        </div>


                        <div class="card mt-4" style="max-width: 15rem">
                        <a href="/formulario/avisoSaida" style="text-decoration:none">
                        <div class="cad-body text-center" style="max-width: 15rem; padding: 3rem">
                            <img src="/img/docSaida.svg" class="img-fluid rounded-center"  alt="...">
                            <h6 class="mt-4">Novo Aviso Saida</h6>
                        </div>
                        </a>
                        </div>



            </div>
            </div>
            </div>
        </ul>
    </div>
</div>
<br>
<container>
<div class="container text-center">
    <div class="row">
    <div class="col">
    <h5>Minhas ultimas Embarcações cadastradas.</h5>
    {{#each embarcacoes}}
    <div class="card mt-4">
        <div class="card-body">
            <p>Embarcação: {{embarcacaoNome}}</p>
            <p>Data de pedido: {{embarcacaoDataCadastro}}</p>
            <a href="/formulario/embarcacaoVizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>
        </div>
    </div>
    

    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                <p>Nenhuma Embarcação</p>
            </div>
        </div>
    {{/each}}
    <a href="/embarcacoes"><button class="btn btn-primary mt-3">Ver Mais</button></a>

    </div>
    <div class="col">
    <h5>Minhas ultimas requisições de despacho.</h5>
    {{#each despachos}}
    <div class="card mt-4">
        <div class="card-body">
            <p>Despacho: {{NprocessoDespacho}}</p>
            <p>Data de pedido: {{despachoDataPedido}}</p>
            <a href="/formulario/despachoVizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>
        </div>
    </div>
    

    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                <p>Nenhum despacho</p>
            </div>
        </div>
    {{/each}}
    <a href="/despachos"><button class="btn btn-primary mt-3">Ver Mais</button></a>

    </div>
    <div class="col">
    <h5>Minhas ultimas requisições de entrada.</h5>
    {{#each avisoEntradas}}
    <div class="card mt-4">
        <div class="card-body">
            <p>Entrada: {{entradaNprocesso}}</p>
            <p>Data de pedido: {{entradaDataPedido}}</p>
            <a href="/formulario/avisoEntradavizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>
        </div>
    </div>


    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                <p>Nenhum aviso de entrada</p>
            </div>
        </div>
    {{/each}}
    <a href="/entradas"><button class="btn btn-primary mt-3">Ver Mais</button></a>

    </div>
    <div class="col">
    <h5>Minhas ultimas requisições de saída.</h5>
    {{#each avisoSaidas}}
    <div class="card mt-4">
        <div class="card-body">
            <p>Saída: {{saidaNprocesso}}</p>
            <p>Data de pedido: {{saidaDataPedido}}</p>
            <a href="/formulario/avisoSaidaVizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>
        </div>
    </div>


    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                <p>Nenhum aviso de saída</p>
            </div>
        </div>
    {{/each}}
    <a href="/saidas"><button class="btn btn-primary mt-3">Ver Mais</button></a>

    </div>
</div>
</div>


