


<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h2>Realizar novo Despacho</h2>
        </div>
        <br>
        <h6>Recomendações: </h6>
        <ul>
            <li>Confirme suas infomações antes de enviar.</li>
            <li>Não passe as suas informações pessoais para outra pessoa.</li>
            <li>confira se os seus documentos estão atualizados no banco de dados.</li>
            <br>
            <div class="container text-center">
            <div class="row justify-content-around">
                <div class="col">
                    <a href="/formulario/avisoEntrada"><button class="btn btn-success mt-4">Novo aviso de entrada</button></a>
                    <a href="/formulario/avisoSaida"><button class="btn btn-success mt-4">Novo aviso de saída</button></a>
                    <a href="/formulario/despacho"><button class="btn btn-success mt-4">Novo despacho</button></a>
            </div>
            </div>
            </div>
        </ul>
    </div>
</div>
<br>
<container>
<div class="container text-center">
<div class="row justify-content-around">
<div class="col">
    <h4>Minhas ultimas requisições de despacho.</h4>
{{#each despachos}}
<div class="card mt-4">
    <div class="card-body">
        <p>Numero de despacho: {{NprocessoDespacho}}</p>
        <p>Data de pedido: {{despachoDataPedido}}</p>
        <a href="/formulario/formulario/vizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>

    </div>
</div>


{{else}}
    <p>Nenhum formulário para ser exibido</p>
{{/each}}
</div>
{{#each avisoEntrada}}
<div class="card mt-4">
    <div class="card-body">
        <p>Numero de despacho: {{entradaNprocesso}}</p>
        <p>Data de pedido: {{despachoDataPedido}}</p>
        <a href="/formulario/formulario/vizu/{{_id}}"><button class="btn btn-success mt-3">Visualizar</button></a>

    </div>
</div>


{{else}}
    <p>Nenhum formulário para ser exibido</p>
{{/each}}
</div>

</div>
</div>
</container>