    <div class="card" {{agenciaHidden}} >
        <div class="card-body">
            <div class="text-center">
                <h2>Realizar nova Solicitação/Comunicação</h2>
            </div>
            <br>
            <h6>Recomendações: </h6>
            <ul>
                <li>Confirme suas informações antes de enviar.</li>
                <li>Não passe as suas informações pessoais para outra pessoa.</li>
                <li>Confira se os seus documentos estão atualizados no banco de dados.</li>
                <br>
                <div class="container text-center">
                    <label class=" bg-warning text-center" {{alertHidden}}>Os campos de solicitação de formulário serão liberados após confirmação dos dados por parte do despachante</label>

                <div class="row justify-content-around">
                        <div class="card mt-4" style="max-width: 15rem" {{blockHidden}}>
                            <a href="/formulario/despacho" style="text-decoration:none">
                            <div class="card-body text-center" style="max-width: 15rem; padding: 3rem">
                                <img src="/img/despacho.svg" class="img-fluid rounded-center"  alt="...">
                                <h6 class="mt-4">Novo Despacho</h6>
                            </div>
                            </a>
                        </div>

                        <div class="card mt-4" style="max-width: 15rem" {{docHidden}} {{blockHidden}}>
                            <a href="/formulario/avisoEntrada" style="text-decoration:none">
                            <div class="card-body text-center" style="max-width: 15rem; padding: 3rem">
                                <img src="/img/docEntrada.svg" class="img-fluid rounded-center"  alt="...">
                                <h6 class="mt-4">Novo Aviso de Entrada</h6>
                            </div>
                            </a>
                        </div>


                        <div class="card mt-4" style="max-width: 15rem" {{docHidden}} {{blockHidden}}>
                            <a href="/formulario/avisoSaida" style="text-decoration:none">
                            <div class="card-body text-center" style="max-width: 15rem; padding: 3rem">
                                <img src="/img/docSaida.svg" class="img-fluid rounded-center"  alt="...">
                                <h6 class="mt-4">Novo Aviso de Saida</h6>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="container" {{despachanteHidden}}>
        <h4 class="text-center">Despachantes Nesta Agencia.</h4>
    <div class="card">
        <div class="card-body">
            {{#each usuarios}}
                <div class="card">
                    <div class="card-body">
                        <div class="input-group">
                            <label class="input-group-text">Nome:</label>
                            <input value="{{nome}}" class="form-control" disabled>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text">CPF:</label>
                            <input value="{{CPF}}" class="form-control" disabled>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text">Período do contrato:</label>
                            <input value="{{periodoContrato}}" class="form-control" disabled>
                        </div>
                        <a class="btn btn-success float-end" href="/users/usuariosVizu/{{_id}}">Visualizar</a>
                        <a class="btn btn-warning float-end mx-1" href="/users/usuariosEdit/{{_id}}">Editar</a>
                    </div>
                </div>
                <br>
            {{else}}

            {{/each}}
            <a class="btn btn-success" href="/usuarios/cadastroUser">Cadastrar Despachante</a>
        </div>
    </div>
    </div>
    <br>
    <br>
    <div class="container" {{blockHidden}}>
    <br>
        <div class="row">
            <div class="col">
                    <h5>Minhas últimas requisições de despacho.</h5>
                    {{>_despachoUserCard}}
                    <div class="text-center">
                        <a href="/despachos"><button class="btn btn-primary mt-3">Ver Mais</button></a>
                    </div>
            </div>

            <div class="col">
                    <h5>Meus Ultimos passes de saída emitidos.</h5>
                    {{>_passeSaidaUserCard}}
                    <div class="text-center">
                        <a href="/passeSaidas"><button class="btn btn-primary mt-3">Ver Mais</button></a>
                </div>
            </div>

            <div class="col">
                <h5>Minhas últimas requisições de entrada.</h5>
                {{>_entradaUserCard}}
                <div class="text-center">
                    <a href="/entradas"><button class="btn btn-primary mt-3">Ver Mais</button></a>
                </div>
            </div>

            <div class="col">
                <h5>Minhas últimas requisições de saída.</h5>
                {{>_saidaUserCard}}
                <div class="text-center">
                    <a href="/saidas"><button class="btn btn-primary mt-3">Ver Mais</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>

