
<br>
<h2 class="text-center mb-4">AVISO DE SAÍDA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Saida enviado em: {{avisoSaidas.saidaDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/saidasValidate" method="POST">
            <input type="hidden" name="id" value="{{avisoSaidas._id}}">
                <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despachoValid.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Redefinir Despacho referente</label>
                        <select name="entradaDespacho" class="form-select">
                            <option value="{{avisoSaidas.saidaDespacho}}">Já Selecionado: {{despachoValid.NprocessoDespacho}}</option>
                            {{#each despachos}}
                                <option value="{{_id}}">
                            {{NprocessoDespacho}}
                                </option>
                            {{/each}}
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="saidaNprocesso" class="form-control" type="text" value="{{avisoSaidas.saidaNprocesso}}">
                </div>
                <div>
                    <h4 class="text-center">Dados da Partida</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Saída</label>
                        <input class="form-control" type="text" value="{{portoSaida.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Saída</label>
                            <select id="select1" name="saidaPortoSaida" class="form-select" onchange="outroPorto('campo1', 'select1')">
                                <option value="{{avisoSaidas.saidaPortoSaida}}">Já Selecionado: {{portoSaida.portoNome}}</option>
                                {{#each portos}}
                                    <option value="{{_id}}">
                                {{portoNome}}
                                    </option>
                                {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                            </select>
                        <div id="campo1" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input value="{{portoSaida.portoNome}}" name="saidaOutroPortoSaida" class="form-control" type="text">
                        </div>
                        <label class="input-group-text">Data/Hora de Saída</label>
                        <input name="saidaDataHoraSaida" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraSaida}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input class="form-control" type="text" value="{{portoDestino.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Destino</label>
                            <select id="select2"  name="saidaPortoDestino" class="form-select" onchange="outroPorto('campo2', 'select2')">
                                <option value="{{avisoSaidas.saidaPortoDestino}}">Já Selecionado: {{portoDestino.portoNome}}</option>
                                {{#each portos}}
                                    <option value="{{_id}}">
                                {{portoNome}}
                                    </option>
                                {{/each}}
                                <option id="outroPortoOption" value="Outros">Outros...</option>
                            </select>
                        <div id="campo2" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input value="{{portoDestino.portoNome}}" name="saidaOutroPortoDestino" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>
                        <label class="input-group-text">Data/Hora Estimada de Chegada</label>
                        <input name="saidaDataHoraChegada" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraChegada}}">
                    </div>
                    <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome da Embarcação</label>
                            <input name="saidaNomeEmbarcacao" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoNome}}" disabled>
                            <label class="input-group-text">Tipo da Embarcação</label>
                            <input name="saidaTipoEmbarcacao" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoTipo}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Bandeira</label>
                            <input name="saidaBandeira" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoBandeira}}" disabled>
                            <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input name="saidaNInscricaoAutoridadeMaritima" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoNInscricaoautoridadeMB}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Arqueação Buta</label>
                            <input name="saidaArqueacaoBruta" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoArqueacaoBruta}}" disabled>
                            <label class="input-group-text">Tonelagem Porte Bruto</label>
                            <input name="saidaTonelagemPorteBruto" class="form-control" type="text" value="{{embarcacaoValid.embarcacaoTonelagemPorteBruto}}" disabled>
                        </div>
                </div>
                <div class="input-group">
                    <label  class="input-group-text">Redefinir Embarcação</label>
                    <select name="embarcacao" class="form-select">
                        <option value="{{avisoSaidas.embarcacao}}">Já Selecionado: {{embarcacaoValid.embarcacaoNome}}</option>
                        {{#each embarcacoes}}
                            <option value="{{_id}}">{{embarcacaoNome}}</option>
                        {{else}}
                            <option value="0">Nenhuma embarcação cadastrada</option>
                        {{/each}}
                    </select>
                </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="saidaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaNomeRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="saidaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaCPFCNPJRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Telefone</label>
                        <input name="saidaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaTelefoneRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="saidaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEnderecoRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Email</label>
                        <input name="saidaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEmailRepresentanteEmbarcacao}}">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="saidaObservacoes" class="form-control" type="text" value="{{avisoSaidas.saidaObservacoes}}">
                    </div>
                </div>
                <div id="selecaoTripulantes">
                <div class="container">
                {{#each tripulantesValid}}
                
                <div id="{{_id}}" calss=" m-4">
                    <div class="card bg-secondary m-4">
                        <div>
                            
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                        <input class="form-control" type="text" value="Nome: {{tripulanteNome}}" disabled>
                        <input class="form-control" type="text" value="Grau: {{tripulanteGrau}}" disabled>
                        <input class="form-control" type="text" value="Numero da CIR: {{tripulanteNCIR}}" disabled>
                        <input name="tripulante" value="{{_id}}" hidden>
                    </div>
                </div>
                
                {{/each}}
                <div>
                    <div id="tripulantes">
                        <script>
                           var divCounter = 0
                                function addInputSelect(divName) {
                                var newdiv = document.createElement('div');
                                var divId = "div" + divCounter
                                newdiv.setAttribute('id', divId)
                                newdiv.innerHTML = '<select name="tripulante" class="btn-group"><option id="emBranco" value="emBranco">Em Branco</option>{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}}</option>{{/each}}</select><button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
                                document.getElementById(divName).appendChild(newdiv);
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = true
                                divCounter++;
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                }

                                function deleteBranco(divId){
                                    tripulantesArray = []
                                    var emBranco = document.getElementById(divId)
                                    emBranco.remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }

                                addInputSelect('lines');

                                function getId(){
                                
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = false

                                var tripulantesArray = []

                                var tripulantesIds = document.querySelectorAll("[name='tripulante']")
                                            for (var i = 0; i < tripulantesIds.length; i++) {
                                                if(tripulantesIds[i].value == 'emBranco'){
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    
                                                }
                                        tripulantesArray.push(tripulantesIds[i].value)
                                        document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                                    }
                                    if(tripulantesArray.length == 0 ){
                                        var submiteButton = document.getElementById('submitButton')
                                        submiteButton.disabled = true
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }
                                    if(tripulantesArray.find(el => el == 'emBranco')){
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }else{
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                    }
                                    console.log(tripulantesArray)
                                
                                    
                                }
                                function deleteTripulante(id){
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    tripulantesArray = []
                                    document.getElementById(id).remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }
                        </script>
                    </div>
                    <input value="" id="tripulantesArrayIds" name="saidaTripulantes" hidden>
                    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar tripulante</button>
                    
                    <button class="btn btn-success" type="button" onclick="getId()" style="float: right">Fechar Relação</button>
                    
                </div>
                </div>
            </div>
<div>
                    <h4 class="text-center">Lista de Passageiros</h4>
                    <div id="selecaoPassageiros" class="">

                        {{#each avisoSaidas.saidaPassageiros}}
                                <div id="{{_id}}" class="card bg-secondary mt-4">
                                    <div>                           
                                        <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletePassageiro('{{_id}}')">Remover</button>
                                        <span>Passageiro: {{add @index 1}}</span>
                                    </div> 
                                        <div class="input-group">
                                            <label class="input-group-text">Nome</label>
                                                <input value="{{nome}}" name="passageiroNome" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Data de Nascimento</label>
                                                <input value="{{dataNascimento}}" name="passageiroNascimento" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Sexo</label>
                                                <input value="{{sexo}}" name="passageiroSexo" class="form-control" type="text" disabled>
                                        </div>
                                </div>
                            <br>
                        {{/each}}
                    </div>
                    <div>
                                            <script>
                                                var divCounter = 0
                                                    function addPassageiros(divName) {
                                                    var newdiv = document.createElement('div');
                                                    var divId = "div" + divCounter
                                                    newdiv.setAttribute('id', divId)
                                                    newdiv.innerHTML += '<button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>'
                                                    newdiv.innerHTML += '<label class="input-group-text">Nome</label>'
                                                    newdiv.innerHTML += '<input name="passageiroNome" class="form-control" type="text">'
                                                    newdiv.innerHTML += '<label class="input-group-text">Data de Nascimento</label>'
                                                    newdiv.innerHTML += '<input name="passageiroNascimento" class="form-control" type="text">'
                                                    newdiv.innerHTML += '<label class="input-group-text">Sexo</label>'
                                                    newdiv.innerHTML += '<input name="passageiroSexo" class="form-control" type="text">'
                                                    document.getElementById(divName).appendChild(newdiv);
                                                    document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    divCounter++;
                                                    document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                                    }

                                                    function deleteBranco(divId){
                                                        passageirosNome = []
                                                        var emBranco = document.getElementById(divId)
                                                        emBranco.remove()
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }

                                                    addPassageiros('lines');

                                                    function getPassageiros(){
                                                    
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = false

                                                    var passageirosNomeArray = []
                                                    
                                                    var passageirosNascimentoArray = []

                                                    var passageirosSexoArray = []


                                                    var passageirosNomes = document.querySelectorAll("[name='passageiroNome']")
                                                    var passageirosNascimentos = document.querySelectorAll("[name='passageiroNascimento']")
                                                    var passageirosSexos = document.querySelectorAll("[name='passageiroSexo']")

                                                                for (var i = 0; i < passageirosNomes.length; i++) {
                                                                    if(passageirosNomes[i].value == 'emBranco'){
                                                                        var submiteButton = document.getElementById('submitButton')
                                                                        submiteButton.disabled = true
                                                                        
                                                                    }
                                                            passageirosNomeArray.push(passageirosNomes[i].value)
                                                            passageirosNascimentoArray.push(passageirosNascimentos[i].value) 
                                                            passageirosSexoArray.push(passageirosSexos[i].value)
                                                        }
                                                            document.getElementById('passageiros').setAttribute('value', `${passageirosNomeArray}`)
                                                            document.getElementById('dataNascimentos').setAttribute('value', `${passageirosNascimentoArray}`)
                                                            document.getElementById('sexos').setAttribute('value', `${passageirosSexoArray}`)

                                                        if(passageirosNomeArray.length == 0 ){
                                                            var submiteButton = document.getElementById('submitButton')
                                                            submiteButton.disabled = true
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }
                                                        if(passageirosNomeArray.find(el => el == 'emBranco')){
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                        }else{
                                                            document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                                        }
                                                        console.log(passageirosNascimentoArray)
                                                    
                                                        
                                                    }
                                                    function deletePassageiro(id){
                                                        var submiteButton = document.getElementById('submitButton')
                                                        submiteButton.disabled = true
                                                        passageirosNome = []
                                                        document.getElementById(id).remove()
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'bg')
                                                        document.getElementById('selecaoPassageiros').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                                    }
                                                                        
                                                </script>
                        </div>
                            <button class="btn btn-primary mb-4" type="button" onclick="addPassageiros('selecaoPassageiros')">Adicionar passageiro</button>
                            <button class="btn btn-success" type="button" onclick="getPassageiros()" style="float: right">Fechar Relação</button>
                        <input name="saidaPassageirosNome" value="" id="passageiros" hidden>
                        <input name="saidaPassageirosNascimento" value="" id="dataNascimentos" hidden>
                        <input name="saidaPassageirosSexos" value="" id="sexos" hidden>


                </div>
                    <div class="input-group mb-3">
                    <label class="input-group-text">Somatório de Passageiros</label>
                    <input value="{{avisoSaidas.saidaSomaPassageiros}}" class="form-control" type="number">
                    </div>

            <div>
                <h4 class="text-center">Comboios</h4>
            </div>
            <h6 class="text-center">{{comboiosValid.comboioNome}}</h6>
            {{#each comboiosValid.embarcacoes}}
                <div class="bg-secondary">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
            {{/each}}

            <div class="input-group mt-4">
                <label class="input-group-text">Alterar Comboio</label>
                <select name="saidaComboios" class="form-select">
                    <option value="{{avisoSaidas.saidaComboios}}">Já selecionado: {{comboiosValid.comboioNome}}</option>
                    {{#each comboios}}
                        <option value="{{_id}}">{{comboioNome}}</option>
                    {{else}}
                        <option value="0">Nenhum comboio formulado</option>
                    {{/each}}
                </select>
            </div>
            <br>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>

<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoSaida/{{avisoSaidas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>