
<br>
<h2 class="text-center mb-4">AVISO DE SAÍDA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Saida enviado em: {{avisoSaidas.saidaDataPedido}}</h4>

<div class="card">
    <div class="card-body">         
        <form class="row gx-3 gy-2 align-items-center" action="/admin/saidasValidate" method="POST">
            <input type="hidden" name="id" value="{{avisoSaidas._id}}">
                <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despachoValid.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Redefinir Despacho referente</label>
                        <select name="entradaDespacho" class="form-select">
                            <option value="{{avisoSaidas.saidaDespacho}}">Já Selecionado: {{despachoValid.NprocessoDespacho}}</option>
                            {{#each despachos}}
                                <option value="{{_id}}">
                            {{NprocessoDespacho}}
                                </option>
                            {{/each}}
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="saidaNprocesso" class="form-control" type="text" value="{{avisoSaidas.saidaNprocesso}}">
                </div>
                <div>
                    <h4 class="text-center">Dados da Partida</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Saída</label>
                        <input class="form-control" type="text" value="{{portoSaida.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Saída</label>
                            <select id="select1" name="saidaPortoSaida" class="form-select" onchange="outroPorto('campo1', 'select1')">
                                <option value="{{avisoSaidas.saidaPortoSaida}}">Já Selecionado: {{portoSaida.portoNome}}</option>
                                {{#each portos}}
                                    <option value="{{_id}}">
                                {{portoNome}}
                                    </option>
                                {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                            </select>
                        <div id="campo1" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input value="{{portoSaida.portoNome}}" name="saidaOutroPortoSaida" class="form-control" type="text">
                        </div>
                        <label class="input-group-text">Data/Hora de Saída</label>
                        <input name="saidaDataHoraSaida" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraSaida}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input class="form-control" type="text" value="{{portoDestino.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Destino</label>
                            <select id="select2"  name="saidaPortoDestino" class="form-select" onchange="outroPorto('campo2', 'select2')">
                                <option value="{{avisoSaidas.saidaPortoDestino}}">Já Selecionado: {{portoDestino.portoNome}}</option>
                                {{#each portos}}
                                    <option value="{{_id}}">
                                {{portoNome}}
                                    </option>
                                {{/each}}
                                <option id="outroPortoOption" value="Outros">Outros...</option>
                            </select>
                        <div id="campo2" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input value="{{portoDestino.portoNome}}" name="saidaOutroPortoDestino" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>
                        <label class="input-group-text">Data/Hora Estimada de Chegada</label>
                        <input name="saidaDataHoraChegada" class="form-control" type="date" value="{{avisoSaidas.saidaDataHoraChegada}}">
                    </div>
                    <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome da Embarcação</label>
                            <input name="saidaNomeEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEmbarcacaoNome}}" disabled>
                            <label class="input-group-text">Tipo da Embarcação</label>
                            <input name="saidaTipoEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.embarcacaoTipo}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Bandeira</label>
                            <input name="saidaBandeira" class="form-control" type="text" value="{{avisoSaidas.embarcacaoBandeira}}" disabled>
                            <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input name="saidaNInscricaoAutoridadeMaritima" class="form-control" type="text" value="{{avisoSaidas.embarcacaoNInscricaoautoridadeMB}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Arqueação Buta</label>
                            <input name="saidaArqueacaoBruta" class="form-control" type="text" value="{{avisoSaidas.embarcacaoArqueacaoBruta}}" disabled>
                            <label class="input-group-text">Tonelagem Porte Bruto</label>
                            <input name="saidaTonelagemPorteBruto" class="form-control" type="text" value="{{avisoSaidas.embarcacaoTonelagemPorteBruto}}" disabled>
                        </div>
                </div>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="saidaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaNomeRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="saidaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaCPFCNPJRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Telefone</label>
                        <input name="saidaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaTelefoneRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="saidaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEnderecoRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Email</label>
                        <input name="saidaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoSaidas.saidaEmailRepresentanteEmbarcacao}}">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="saidaObservacoes" class="form-control" type="text" value="{{avisoSaidas.saidaObservacoes}}">
                    </div>
                </div>
                <div id="selecaoTripulantes">
                <div class="container">
                <h4 class="text-center">Lista de Tripulantes</h4>
                {{#each tripulantesValid}}
                <div id="{{_id}}" class="card bg-secondary m-4">
                        <div>
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                            <div class="input-group">
                                <label class="input-group-text">Nome do Tripulante</label>
                                <input class="form-control" type="text" value="{{tripulanteNome}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Função</label>
                                <input name='tripulanteFuncao' class="form-control" type="text" value="{{funcao}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Grau</label>
                                <input class="form-control" type="text" value="{{tripulanteGrau}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Número da CIR</label>
                                <input class="form-control" type="text" value="{{tripulanteNCIR}}" disabled>
                            </div>
                        <input name="tripulante" value="{{_id}}" hidden>
                </div>
                {{/each}}
                    {{>_tripulantes}}
                    </div>
                </div>
                <hr>
                <div id="selecaoPassageiros">
                    <div class="container">
                    <h4 class="text-center">Lista de Passageiros</h4>
                        {{#each avisoSaidas.saidaPassageiros}}
                                <div id="{{_id}}" class="card bg-secondary m-4">
                                    <div>                           
                                        <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletePassageiro('{{_id}}')">Remover</button>
                                        <span>Passageiro: {{add @index 1}}</span>
                                    </div> 
                                        <div class="input-group">
                                            <label class="input-group-text">Nome</label>
                                                <input value="{{nome}}" name="passageiroNome" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Data de Nascimento</label>
                                                <input value="{{dataNascimento}}" name="passageiroNascimento" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Sexo</label>
                                                <input value="{{sexo}}" name="passageiroSexo" class="form-control" type="text" disabled>
                                        </div>
                                </div>
                            <br>
                        {{/each}}
                        {{>_passageiros}}
                    </div>
                </div>
            <hr>
            <div id="selecaoComboio">
                <div class="container">
            <div>
                <h4 class="text-center">Comboios</h4>
            </div>
                {{#each avisoSaidas.saidaComboios}}
                <div class="bg-secondary m-4" id="{{_id}}">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletecomboio('{{_id}}')">Remover</button>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input name="embarcacaoNome" value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Número de Inscrição</label>
                        <input name="NIncricao" value="{{NInscricao}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input name="comboiosCarga" value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input name="comboiosQuantidadeCarga" value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input name="comboiosarqueacaoBruta" value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
                {{/each}}
                <br>
                {{>_comboios}}
                </div>
            </div>
            <br>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>

<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoSaida/{{avisoSaidas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>

