<h3>Meu Perfil</h3>

{{#each usuarios}}
<div class="card">
    <div class="card-body">
        <div class="input-group">
            <label style="width: 6rem" class="input-group-text">Nome:</label>
            <input class="form-control " value="{{nome}}" disabled>            
        </div>
        <div class="input-group">
            <label style="width: 6rem" class="input-group-text">Email:</label>
            <input class="form-control" value="{{email}}" disabled>            
        </div>
        <div class="input-group">
            <label style="width: 6rem" class="input-group-text">CPF/CNPJ:</label>
            <input class="form-control" value="{{CPF}}" disabled>            
        </div>
    </div>
</div>
<script>console.log({{email}})</script>

{{else}}
 <h1>err</h1>
{{/each}}
<br>

<a href="/embarcacoes/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
<script>console.log()</script>