<h3>Meu Perfil</h3>

{{#each usuarios}}
<div class="card">
    <div class="card-body">
        <div class="input-group">
            <label class="input-group-text">Nome:</label>
            <input class="form-control" value="{{nome}}" disabled>            
        </div>
        <div class="input-group">
            <label class="input-group-text">Email:</label>
            <input class="form-control" value="{{email}}" disabled>            
        </div>
        <div class="input-group">
            <label class="input-group-text">CPF/CNPJ:</label>
            <input class="form-control" value="{{CPF}}" disabled>            
        </div>
    </div>
</div>


{{else}}
 <h1>err</h1>
{{/each}}

<hr>
<h4 class="mt-4">Minhas Embarcações</h4>

{{#each embarcacoes}}
    <div class="card mt-4">
            <div class="card-header">
                <h6>Nome: {{embarcacaoNome}}</h6>
            </div>
            <div class="card-body">
                 <label>Numero de Inscrição: {{embarcacaoNInscricaoautoridadeMB}}</label>
            </div>
    </div>
{{else}}
    <p>Nenhuma Embarcação cadastrada</p>
{{/each}}