
<br>
<h2 class="text-center mb-4">AVISO DE ENTRADA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Entrada enviado em: {{avisoEntradas.entradaDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/entradasValidate" method="POST">
            <input type="hidden" name="id" value="{{avisoEntradas._id}}">
            <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despachoValid.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Redefinir Despacho referente</label>
                        <select name="entradaDespacho" class="form-select">
                            <option value="{{avisoEntradas.entradaDespacho}}">Já selecionado: {{despachoValid.NprocessoDespacho}}</option>
                            {{#each despachos}}
                                <option value="{{_id}}">
                            {{NprocessoDespacho}}
                                </option>
                            {{/each}}
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="entradaNprocesso" class="form-control" type="text" value="{{avisoEntradas.entradaNprocesso}}">
                </div>
                <div>
                    <h4 class="text-center">Dados da Estadia</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de chegada</label>
                        <input class="form-control" type="text" value="{{portosValid.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de chegada</label>
                            <select name="entradaPortoChegada" class="form-select">
                                <option value="{{avisoEntradas.entradaPortoChegada}}">Já selecionado: {{portosValid.portoNome}}</option>
                                {{#each portos}}
                                    <option value="{{_id}}">
                                {{portoNome}}
                                    </option>
                                {{/each}}
                            </select>
                        <label class="input-group-text">Data/Hora de chegada</label>
                        <input name="entradaDataHoraChegada" class="form-control" type="date" value="{{avisoEntradas.entradaDataHoraChegada}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Posição no Porto Atual</label>
                        <input name="entradaPosicaoPortoAtual" class="form-control" type="text" value="{{avisoEntradas.entradaPosicaoPortoAtual}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Origem</label>
                        <input name="entradaPortoOrigem" class="form-control" type="text" value="{{avisoEntradas.entradaPortoOrigem}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Porto de Destino</label>
                        <input name="entradaPortoDestino" class="form-control" type="text" value="{{avisoEntradas.entradaPortoDestino}}">
                        <label class="input-group-text">Data/Hora Estimada de Saída para Porto de destino</label>
                        <input name="entradaDataHoraEstimadaSaida" class="form-control" type="date" value="{{avisoEntradas.entradaDataHoraEstimadaSaida}}">
                    </div>
                <div>
                    <h4 class="text-center">Dados da Embarcação</h4>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Nome da Embarcação</label>
                            <input name="entradaNomeEmbarcacao" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoNome}}" disabled>
                            <label class="input-group-text">Tipo da Embarcação</label>
                            <input name="entradaTipoEmbarcacao" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoTipo}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Bandeira</label>
                            <input name="entradaBandeira" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoBandeira}}" disabled>
                            <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                            <input name="entradaNInscricaoAutoridadeMaritima" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoNInscricaoautoridadeMB}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text">Arqueação Buta</label>
                            <input name="entradaArqueacaoBruta" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoArqueacaoBruta}}" disabled>
                            <label class="input-group-text">Tonelagem Porte Bruto</label>
                            <input name="entradaTonelagemPorteBruto" class="form-control" type="text" value="{{embarcacoesValid.embarcacaoTonelagemPorteBruto}}" disabled>
                        </div>
                </div>
                <div class="input-group">
                        <label  class="input-group-text">Redefinir Embarcação</label>
                        <select name="embarcacao" class="form-select">
                            <option value="{{avisoEntradas.embarcacao}}">Já Selecionado: {{embarcacoesValid.embarcacaoNome}}</option>
                            {{#each embarcacoes}}
                                <option value="{{_id}}">{{embarcacaoNome}}</option>
                            {{else}}
                                <option value="0">Nenhuma embarcação cadastrada</option>
                            {{/each}}
                        </select>
                </div>
                <br>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="entradaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaNomeRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="entradaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaCPFCNPJRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Telefone</label>
                        <input name="entradaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaTelefoneRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="entradaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEnderecoRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Email</label>
                        <input name="entradaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEmailRepresentanteEmbarcacao}}">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Dados da Ultima Inspeção Naval</label>
                        <input name="entradaDadosUltimaInpecaoNaval" class="form-control" type="text" value="{{avisoEntradas.entradaDadosUltimaInpecaoNaval}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                        <input name="entradaDeficienciasRetificadasPorto" class="form-control" type="text" value="{{avisoEntradas.entradaDeficienciasRetificadasPorto}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Transporte de Carga Perigosa</label>
                        <input name="entradaTransporteCagaPerigosa" class="form-control" type="text" value="{{avisoEntradas.entradaTransporteCagaPerigosa}}">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="entradaObservacoes" class="form-control" type="text" value="{{avisoEntradas.entradaObservacoes}}">
                    </div>
                </div>
                <div id="selecaoTripulantes">
                <div class="container">
                {{#each tripulantesValid}}
                
                <div id="{{_id}}" calss=" m-4">
                    <div class="card bg-secondary m-4">
                        <div>
                            
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                        <input class="form-control" type="text" value="Nome: {{tripulanteNome}}" disabled>
                        <input class="form-control" type="text" value="Grau: {{tripulanteGrau}}" disabled>
                        <input class="form-control" type="text" value="Numero da CIR: {{tripulanteNCIR}}" disabled>
                        <input name="tripulante" value="{{_id}}" hidden>
                    </div>
                </div>
                
                {{/each}}
                <div>
                    <div id="tripulantes">
                        <script>
                           var divCounter = 0
                                function addInputSelect(divName) {
                                var newdiv = document.createElement('div');
                                var divId = "div" + divCounter
                                newdiv.setAttribute('id', divId)
                                newdiv.innerHTML = '<select name="tripulante" class="btn-group"><option id="emBranco" value="emBranco">Em Branco</option>{{#each tripulantes}}<option id="tripulante" value="{{_id}}">{{tripulanteNome}}</option>{{/each}}</select><button class="btn btn-danger btn-sm m-4" style="float: end" type="button" onclick="deleteBranco(\'' + divId + '\')">Excluir</button>';                            
                                document.getElementById(divName).appendChild(newdiv);
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = true
                                divCounter++;
                                document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')

                                }

                                function deleteBranco(divId){
                                    tripulantesArray = []
                                    var emBranco = document.getElementById(divId)
                                    emBranco.remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }

                                addInputSelect('lines');

                                function getId(){
                                
                                var submiteButton = document.getElementById('submitButton')
                                submiteButton.disabled = false

                                var tripulantesArray = []

                                var tripulantesIds = document.querySelectorAll("[name='tripulante']")
                                            for (var i = 0; i < tripulantesIds.length; i++) {
                                                if(tripulantesIds[i].value == 'emBranco'){
                                                    var submiteButton = document.getElementById('submitButton')
                                                    submiteButton.disabled = true
                                                    
                                                }
                                        tripulantesArray.push(tripulantesIds[i].value)
                                        document.getElementById('tripulantesArrayIds').setAttribute('value', `${tripulantesArray}`)
                                    }
                                    if(tripulantesArray.length == 0 ){
                                        var submiteButton = document.getElementById('submitButton')
                                        submiteButton.disabled = true
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }
                                    if(tripulantesArray.find(el => el == 'emBranco')){
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                    }else{
                                        document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-success bg-opacity-50 border-success')
                                    }
                                    console.log(tripulantesArray)
                                
                                    
                                }
                                function deleteTripulante(id){
                                    var submiteButton = document.getElementById('submitButton')
                                    submiteButton.disabled = true
                                    tripulantesArray = []
                                    document.getElementById(id).remove()
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'bg')
                                    document.getElementById('selecaoTripulantes').setAttribute('class', 'form-control bg-danger bg-opacity-50 border-danger')
                                }
                        </script>
                    </div>
                    <input value="" id="tripulantesArrayIds" name="entradaTripulantes" hidden>
                    <button class="btn btn-primary mb-4" type="button" onclick="addInputSelect('tripulantes')">Adicionar tripulante</button>
                    
                    <button class="btn btn-success" type="button" onclick="getId()" style="float: right">Fechar Relação</button>
                    
                </div>
                </div>
            </div>
                <div>
                    <div id="passageiros" class="card bg-secondary">
                        <h4 class="text-center">Lista de Passageiros</h4>
                        <script>
                            var passageiros = 1;
                        function addInputpassageiros(divName) {
                        var newdiv = document.createElement('div');
                        newdiv.innerHTML  = 'Passageiros : ['+passageiros +']';
                        newdiv.innerHTML += '<label class="input-group-text">Nome completo</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosNome" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Data de nascimento</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosDataNascimento" class="form-control" type="text">'
                        newdiv.innerHTML += '<label class="input-group-text">Sexo</label>'
                        newdiv.innerHTML += '<input name="entradaPassageirosSexo" class="form-control" type="text">'

                        document.getElementById(divName).appendChild(newdiv);
                        passageiros++;
                        }

                        addInputpassageiros('lines');

                        </script>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="addInputpassageiros('passageiros')">Adicioanar passageiro</button>
                    </div>
            <div>
                <h4 class="text-center">Comboios</h4>
            </div>
            <h6 class="text-center">{{comboiosValid.comboioNome}}</h6>
            {{#each comboiosValid.embarcacoes}}
                <div class="bg-secondary">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
            {{/each}}

            <div class="input-group mt-4">
                <label class="input-group-text">Alterar Comboio</label>
                <select name="despachoComboio" class="form-select">
                    <option value="{{avisoEntradas.entradaComboios}}">Já selecionado: {{comboiosValid.comboioNome}}</option>
                    {{#each comboios}}
                        <option value="{{_id}}">{{comboioNome}}</option>
                    {{else}}
                        <option value="0">Nenhum comboio formulado</option>
                    {{/each}}
                </select>
            </div>
            <br>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoEntrada/{{avisoEntradas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>