
<br>
<h2 class="text-center mb-4">AVISO DE ENTRADA – NAVEGAÇÃO INTERIOR</h2>
<h4 class="text-center mb-4">Aviso de Entrada enviado em: {{avisoEntradas.entradaDataPedido}}</h4>

<div class="card">
    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" action="/admin/entradasValidate" method="POST">
            <input type="hidden" name="id" value="{{avisoEntradas._id}}">
            <div class="input-group mb-3">
                    <label class="input-group-text">Despacho referente</label>
                    <input value="{{despachoValid.NprocessoDespacho}}" class="form-control" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Redefinir Despacho referente</label>
                        <select name="entradaDespacho" class="form-select">
                            <option value="{{avisoEntradas.entradaDespacho}}">Já selecionado: {{despachoValid.NprocessoDespacho}}</option>
                            {{#each despachos}}
                                <option value="{{_id}}">
                            {{NprocessoDespacho}}
                                </option>
                            {{/each}}
                        </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">N° Pocesso de Despacho</label>
                    <input name="entradaNprocesso" class="form-control" type="text" value="{{avisoEntradas.entradaNprocesso}}">
                </div>
                <div>
                    <h4 class="text-center">Dados da Estadia</h4>
                    <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Porto de Chegada</label>
                    <input class="form-control" type="text" value="{{portoChegada.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de chegada</label>
                        <select id="select1" name="entradaPortoChegada" class="form-select" onchange="outroPorto('campo1', 'select1')">
                            <option value="{{avisoEntradas.entradaPortoChegada}}">{{portoChegada.portoNome}}</option>
                            {{#each portos}}
                                <option value="{{_id}}">
                            {{portoNome}}
                                </option>
                            {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <div id="campo1" hidden>
                            <label class="input-group-text">Adicione outro porto de Estadia</label>
                            <input value="{{portoChegada.portoNome}}" name="entradaOutroPortoChegada" class="form-control" type="text">
                        </div>
                        <label class="input-group-text">Data/Hora de chegada</label>
                        <input value="{{avisoEntradas.entradaDataHoraChegada}}" name="entradaDataHoraChegada" class="form-control" type="date">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Posição no Porto Atual</label>
                        <input value="{{avisoEntradas.entradaPosicaoPortoAtual}}" name="entradaPosicaoPortoAtual" class="form-control" type="text">
                    </div>
                </div>
                    <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Porto de Origem</label>
                    <input class="form-control" type="text" value="{{portoChegada.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Origem</label>
                        <select id="select2" name="entradaPortoOrigem" class="form-select" onchange="outroPorto('campo2', 'select2')">
                            <option value="{{avisoEntradas.entradaPortoOrigem}}">{{portoOrigem.portoNome}}</option>
                            {{#each portos}}
                                <option value="{{_id}}">
                            {{portoNome}}
                                </option>
                            {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <div id="campo2" hidden>
                            <label class="input-group-text">Adicione outro porto de Origem</label>
                            <input value="{{portoOrigem.portoNome}}" name="entradaOutroPortoOrigem" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                    <label class="input-group-text" class="input-group-text">Porto de Destino</label>
                    <input class="form-control" type="text" value="{{portoChegada.portoNome}}" disabled>
                        <label class="input-group-text">Redefinir Porto de Destino</label>
                        <select id="select3" name="entradaPortoDestino" class="form-select" onchange="outroPorto('campo3', 'select3')">
                            <option value="{{avisoEntradas.entradaPortoDestino}}">{{portoDestino.portoNome}}</option>
                            {{#each portos}}
                                <option value="{{_id}}">
                            {{portoNome}}
                                </option>
                            {{/each}}
                            <option id="outroPortoOption" value="Outros">Outros...</option>
                        </select>
                        <div id="campo3" hidden>
                            <label class="input-group-text">Adicione outro porto de Destino</label>
                            <input value="{{portoDestino.portoNome}}" name="entradaOutroPortoDestino" class="form-control" type="text">
                        </div>
                        <script>
                        function outroPorto(campo, select) {
                            var outroPortoOption = document.getElementById(select);
                            var outroPortoDiv = document.getElementById(campo);

                            if (outroPortoOption.value == 'Outros') {
                            outroPortoDiv.hidden = false;
                            } else {
                            outroPortoDiv.hidden = true;
                            }
                        }
                        </script>
                        <label class="input-group-text">Data/Hora Saída para Porto de destino</label>
                        <input value="{{avisoEntradas.entradaDataHoraEstimadaSaida}}" name="entradaDataHoraEstimadaSaida" class="form-control" type="date">
                    </div>
            <div>
                <h4 class="text-center">Dados da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input name="entradaEmbarcacaoNome" class="form-control" type="text" value="{{avisoEntradas.entradaEmbarcacaoNome}}" disabled>
                        <label class="input-group-text">Tipo da Embarcação</label>
                        <input name="embarcacaoTipo" class="form-control" type="text" value="{{avisoEntradas.embarcacaoTipo}}" disabled>
                    </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Bandeira</label>
                <input name="embarcacaoBandeira" class="form-control" type="text" value="{{avisoEntradas.embarcacaoBandeira}}" disabled>
                <label class="input-group-text">N° Inscrição na Autoridade Marítima do Brasil</label>
                <input name="embarcacaoNInscricaoautoridadeMB" class="form-control" type="text" value="{{avisoEntradas.embarcacaoNInscricaoautoridadeMB}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Arqueação Bruta</label>
                <input name="embarcacaoArqueacaoBruta" class="form-control" type="text" value="{{avisoEntradas.embarcacaoArqueacaoBruta}}" disabled>
                <label class="input-group-text">Comprimento Total</label>
                <input name="embarcacaoComprimentoTotal" class="form-control" type="text" value="{{avisoEntradas.embarcacaoComprimentoTotal}}" disabled>
                <label class="input-group-text">Tonelagem Porte Bruto</label>
                <input name="embarcacaoTonelagemPorteBruto" class="form-control" type="text" value="{{avisoEntradas.embarcacaoTonelagemPorteBruto}}" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Certificado de Registro do Amador(CRA)</label>
                <input name="embarcacaoCertificadoRegistroAmador" class="form-control" type="text" value="{{avisoEntradas.embarcacaoCertificadoRegistroAmador}}" disabled>
                <label class="input-group-text">Armador</label>
                <input name="embarcacaoArmador" class="form-control" type="text" value="{{avisoEntradas.embarcacaoArmador}}" disabled>
            </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">N° do CRA</label>
                        <input name="embarcacaoNCRA" class="form-control" type="text" value="{{avisoEntradas.embarcacaoNCRA}}" disabled>
                        <label class="input-group-text">Validade</label>
                        <input name="embarcacaoValidade" class="form-control" type="text" value="{{avisoEntradas.embarcacaoValidade}}" disabled>
                    </div>

                <br>
                    <h4 class="text-center">Dados do Representante da Embarcação</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Nome</label>
                        <input name="entradaNomeRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaNomeRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">CPF/CNPJ</label>
                        <input name="entradaCPFCNPJRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaCPFCNPJRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Telefone</label>
                        <input name="entradaTelefoneRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaTelefoneRepresentanteEmbarcacao}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Endereço</label>
                        <input name="entradaEnderecoRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEnderecoRepresentanteEmbarcacao}}">
                        <label class="input-group-text">Email</label>
                        <input name="entradaEmailRepresentanteEmbarcacao" class="form-control" type="text" value="{{avisoEntradas.entradaEmailRepresentanteEmbarcacao}}">
                    </div>
                <div>
                    <h4 class="text-center">Informações Complementares</h4>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Dados da Ultima Inspeção Naval</label>
                        <input name="entradaDadosUltimaInpecaoNaval" class="form-control" type="text" value="{{avisoEntradas.entradaDadosUltimaInpecaoNaval}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Deficiências a serem retificadas neste porto?</label>
                        <input name="entradaDeficienciasRetificadasPorto" class="form-control" type="text" value="{{avisoEntradas.entradaDeficienciasRetificadasPorto}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Transporte de Carga Perigosa</label>
                        <input name="entradaTransporteCagaPerigosa" class="form-control" type="text" value="{{avisoEntradas.entradaTransporteCagaPerigosa}}">
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Observações</h4>
                    <div class="input-group mb-3">
                        <input name="entradaObservacoes" class="form-control" type="text" value="{{avisoEntradas.entradaObservacoes}}">
                    </div>
                </div>

                <br>
                <hr>
                <div id="selecaoTripulantes">
                <div class="container">
                <h4 class="text-center">Lista de Tripulantes</h4>
                {{#each tripulantesValid}}
                <div id="{{_id}}" class="card bg-secondary m-4">
                        <div>
                            <span class="m-1">Tripulante: {{add @index 1}}</span>
                            <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deleteTripulante('{{_id}}')">Remover</button>
                        </div>
                            <div class="input-group">
                                <label class="input-group-text">Nome do Tripulante</label>
                                <input class="form-control" type="text" value="{{tripulanteNome}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Função</label>
                                <input name='tripulanteFuncao' class="form-control" type="text" value="{{funcao}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Grau</label>
                                <input class="form-control" type="text" value="{{tripulanteGrau}}" disabled>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Número da CIR</label>
                                <input class="form-control" type="text" value="{{tripulanteNCIR}}" disabled>
                            </div>
                        <input name="tripulante" value="{{_id}}" hidden>
                </div>
                {{/each}}
                    {{>_tripulantes}}
                    </div>
                </div>
                <hr>
                <div id="selecaoPassageiros">
                    <div class="container">
                    <h4 class="text-center">Lista de Passageiros</h4>
                        {{#each avisoEntradas.entradaPassageiros}}
                                <div id="{{_id}}" class="card bg-secondary m-4">
                                    <div>                           
                                        <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletePassageiro('{{_id}}')">Remover</button>
                                        <span>Passageiro: {{add @index 1}}</span>
                                    </div> 
                                        <div class="input-group">
                                            <label class="input-group-text">Nome</label>
                                                <input value="{{nome}}" name="passageiroNome" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Data de Nascimento</label>
                                                <input value="{{dataNascimento}}" name="passageiroNascimento" class="form-control" type="text" disabled>
                                            <label class="input-group-text">Sexo</label>
                                                <input value="{{sexo}}" name="passageiroSexo" class="form-control" type="text" disabled>
                                        </div>
                                </div>
                            <br>
                        {{/each}}
                        {{>_passageiros}}
                    </div>
                </div>
            <hr>
            <div id="selecaoComboio">
                <div class="container">
                <h4 class="text-center">Comboios</h4>
                {{#each avisoEntradas.entradaComboios}}
                <div class="bg-secondary m-4" id="{{_id}}">
                    <span>Embarcacão: {{add @index 1}}</span>
                    <button type="button" style="float: right" class="btn btn-danger m-1" onclick="deletecomboio('{{_id}}')">Remover</button>
                    <div class="input-group">
                        <label class="input-group-text">Nome da Embarcação</label>
                        <input name="embarcacaoNome" value="{{embarcacaoNome}}" class="form-control" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Número de Inscrição</label>
                        <input name="NIncricao" value="{{NInscricao}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">carga</label>
                        <input name="comboiosCarga" value="{{carga}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">quantidade e unidade de carga</label>
                        <input name="comboiosQuantidadeCarga" value="{{quantidade}}" class="form-control" type="text" disabled>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Arqueação Bruta</label>
                        <input name="comboiosarqueacaoBruta" value="{{arqueacaoBruta}}" class="form-control" type="text" disabled>
                    </div>
                </div>
                <br>
                {{/each}}
                <br>
                {{>_comboios}}
                </div>
            </div>
            <br>
                <button type="submit" id="submitButton" class="btn btn-success" disabled>Validar</button>
        </form>
    </div>
</div>
<br>
<div class="text-center" {{hidden}}>
 <a class="btn btn-success" href="/avisoEntrada/{{avisoEntradas._id}}/pdf" target="_blank" style="float: right">Gerar PDF</a>
</div>
<input class="btn btn-success" type="button" value="Voltar" style="float: left" onClick="history.go(-1)"> 
<br>
