<h4>Lista de Avisos de Entrada</h4>
<br>
{{#each avisoEntradas}}

    <div id="{{_id}}" class="card mt-4">
        <div class="card-body">
            <div>
                <h6>Entrada: {{entradaNprocesso}}</h6>
                <p>Agencia: {{agenciaNome}}</label>
                <p>Embarcação: {{embarcacaoNome}}</label>
                <br>
            </div>
            <div class="">
                <label class="mt-2">Data: {{entradaDataPedido}}</label>
                <a class="btn btn-success float-end" href="/formulario/avisoEntradavizu/{{_id}}">Visualizar</a>
                <a class="btn btn-warning float-end mx-1" href="/admin/entradasValidate/{{_id}}">Editar</a>
            </div>
        </div>
    </div>
    {{>_classificacao}}
{{else}}
<h6>Nenhum Aviso de Entrada</h6>
{{/each}}
<br>
<a href="/admin/entradas/{{previousPage}}" class="btn btn-primary">Anterior</a>
<a href="/admin/entradas/{{nextPage}}" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>
