<h4>Lista de Embarcações</h4>
<hr>
{{#each embarcacoes}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome da Embarcação: {{embarcacaoNome}}</h4>
            <label class="mt-2">Numero de registro: {{embarcacaoNInscricaoautoridadeMB}}</label>
            <a class="btn btn-success float-end" href="/formulario/embarcacaoVizu/{{_id}}">Visualizar</a>
            <a class="btn btn-warning float-end mx-1" href="/admin/embarcacoesEdit/{{_id}}">Editar</a>
        </div>
    </div>
{{else}}
    <span>Nenhuma Embarcação cadastrada</span>
{{/each}}
<br>
<a href="/admin/painel" class="btn btn-primary">Painel</a>
<a href="/admin/embarcacoes/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

