<br>
<h1 class="text-center">Aviso</h1>
<hr>
<br>
<div class="card m-4">
  <div class="row g-0">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <img class="m-4" src="data:{{aviso.contentType}};base64,{{aviso.data}}">
    </div>
      <div class="card-body text-center">
        <br>
        <h4 class="card-title">{{aviso.titulo}}</h4>
        <h6 class="card-text">{{aviso.descricao}}</h6>
          <p class="card-text" style="white-space: pre-wrap;">{{aviso.conteudo}}</p>
        <smal>{{aviso.avisoData}}</smal>
      </div>
    </div>
</div>