<h1>Avisos</h1>
<a href="/admin/addaviso"><button class="btn btn-success mt-4">Novo aviso</button></a>
<br>
{{#each avisos}}

<div class="card border border-dark-subtle border-1 m-4">
  <div class="row g-0 ">
    <div class="col-md-4 ">
        <img class="m-4 " src="data:{{contentType}};base64,{{data}}" style="max-width: 20rem; max-height: 20rem">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <br>
        <div class="card-header">
        <h4 class="text-center" style="white-space: pre-wrap;">{{titulo}}</h4>

        </div>
        <hr>
        <h6 class="card-text">{{descricao}}</h6>
      </div>
    </div>
  </div>
    <div class="mx-4">
      <small script=""><script>function converteData({{avisoData}}){
const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

const dataFormatada = new Intl.DateTimeFormat('pt-BR', {
    dateStyle: 'full',
    timeStyle: 'full',
    timeZone: timeZone,

}).format(date)
return dataFormatada
}</script></small>
      <a class="btn btn-primary float-end" href="/aviso/{{_id}}">Ler mais</a><form action="/admin/avisos/deletar" method="POST"><input type="hidden" name="id" value="{{_id}}"><button type="submit" class="btn btn-danger">Deletar aviso</button>
        </form>
    </div>

    <br>
</div>

{{else}}
      <h5>Nenhuma aviso postado</h5>
{{/each}}
<br>
<a href="/admin/painel" class="btn btn-primary">Painel</a>
<a href="/admin/avisos/2" class="btn btn-primary" style="float: right">Próximo</a>

