<h1>Tripulantes:</h1>
<br>
    <a class="btn btn-primary mt-2" style="max-width: 10rem" href="/admin/addTripulante">Add Tripulante</a>
<br>
{{#each tripulantes}}
    <div class="card mt-4">
        
        
        <div class="card-body">
            <h5>Nome: {{tripulanteNome}}</h5><br>
            <label>Grau/Função: {{tripulanteGrau}}</label><br>
            <label>Número da CIR: {{tripulanteNCIR}}</label>
            <a class="btn btn-primary" href="/admin/tripulantesVizu/{{_id}}" style="float: right">Visualizar</a>
            <a class="btn btn-warning float-end mx-1" href="/admin/tripulantesEdit/{{_id}}">Editar</a>
        </div>
    </div>
{{else}}
    <h4>Nenhum tripulante cadastrado!</h4>
{{/each}}
<br>
<a href="/admin/painel" class="btn btn-primary" {{hidden}}>Painel</a>
<a href="/admin/tripulantes/2" class="btn btn-primary" style="float: right" {{hidden}}>Próximo</a>

